    <!--js库文件-->
    <script src="https://img.sandbox.qixinyun.com/ie8.js"></script>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/layer/3.1.0/layer.js"></script>
    <script src="https://img.sandbox.qixinyun.com/jquery.multi.tabs.js"></script>
    <script src="<!--inLink '../../views/link/globalJS.txt'-->"></script>

    <!--[if lt IE 9]>
    <script src="https://img.sandbox.qixinyun.com/placeholder.js"></script>
    <script src="https://img.sandbox.qixinyun.com/html5.js"></script>
    <script src="https://img.sandbox.qixinyun.com/respond.js"></script>
    <![endif]-->
</head>
<body>