@media screen {
  .policy {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: 23px;
  }
  .policy .policy-item {
    padding: 0 12px;
  }
  .policy .policy-item > div {
    background: #fff;
  }
  .policy .policy-item > div > * {
    height: 291px;
  }
  .policy .policy-item > div > a {
    width: 45%;
    overflow: hidden;
  }
  .policy .policy-item > div > a img {
    display: block;
    min-width: 100%;
    min-height: 100%;
  }
  .policy .policy-item > div > div {
    width: 52%;
    padding: 10px 15px;
    padding-left: 0;
  }
  .policy .policy-item > div > div a.title {
    display: block;
    font-weight: bold;
    font-size: 15px;
    max-height: 54px;
    overflow: hidden;
  }
  .policy .policy-item > div > div a.content {
    display: block;
    line-height: 22px;
    height: 132px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .policy .policy-item > div > div .column-gd {
    text-align: right;
  }
  .policy .policy-item > div > div .column-gd a {
    color: #e22323;
  }
}
@media screen and (max-width: 1024px) {
  .policy {
    padding-top: 23px;
  }
}
