@media screen {
  div.jointCase {
    border: 1px solid #b0b0b0;
    padding: 15px 22px 5px;
    margin-bottom: 20px;
  }
  div.jointCase div.caseClass {
    margin: 15px auto 5px;
  }
  div.jointCase div.caseClass ul {
    margin-left: -1px;
    margin-right: -1px;
  }
  div.jointCase div.caseClass ul li {
    width: 25%;
    padding: 1px;
    cursor: pointer;
    position: relative;
  }
  div.jointCase div.caseClass ul li a {
    display: block;
  }
  div.jointCase div.caseClass ul li a img {
    display: block;
    width: 100%;
  }
  div.jointCase div.caseClass ul li.active:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
  }
  div.jointCase div.caseList {
    overflow: hidden;
  }
  div.jointCase div.caseList ul {
    margin-left: -33px;
    margin-right: -33px;
    padding: 8px 0;
  }
  div.jointCase div.caseList ul li {
    padding: 0 33px;
    border-bottom: none;
  }
  div.jointCase div.caseList ul li a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 2.2;
  }
  div.jointCase div.caseList ul li a i {
    top: 11px;
  }
  div.jointCase div.caseList ul li a .time {
    top: 0;
  }
  div.jointCase div.caseList ul li:nth-of-type(2n-1) {
    border-right: 1px solid #bebebe;
  }
  div.jointMemo {
    border: 1px solid #b0b0b0;
    padding: 15px 20px 5px;
  }
  div.jointMemo ul li {
    padding: 12px 0;
    border-bottom: 1px solid #bebebe;
  }
  div.jointMemo ul li:last-child {
    border-bottom: none;
  }
  div.jointMemo ul li a {
    display: block;
    max-height: 44px;
    overflow: hidden;
    margin-bottom: 10px;
  }
  div.jointMemo ul li p {
    font-size: 12px;
  }
  div.jointMemo ul li p span {
    color: #b2a4be;
  }
  div.jointMemo ul li p span.icon-earth {
    display: inline-block;
    max-width: 69%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  div.jointMemo ul li p span:before {
    position: relative;
    top: 1px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 1024px) {
  div.jointCase div.caseClass {
    overflow-x: auto;
  }
  div.jointCase div.caseClass ul {
    width: 100%;
    min-width: 640px;
  }
}
@media screen and (max-width: 767px) {
  div.jointCase {
    padding: 15px 10px 5px;
  }
  div.jointCase div.caseList ul li:nth-of-type(2n-1) {
    border-right: none;
  }
}
