@media screen {
  div.userAll .user-left {
    width: 275px;
    height: 705px;
    background: #fff;
  }
  div.userAll .user-left p.tit {
    font-size: 18px;
    background: #e22323;
    color: #fff;
    text-align: center;
    line-height: 3.25;
  }
  div.userAll .user-left .user-left-top .user-left-title {
    padding: 30px 30px 15px;
    text-align: center;
  }
  div.userAll .user-left .user-left-top .user-left-title > a {
    display: block;
  }
  div.userAll .user-left .user-left-top .user-left-title > a img {
    display: block;
    margin: auto;
    width: 132px;
    height: 132px;
    border-radius: 50%;
  }
  div.userAll .user-left .user-left-top .user-left-title > a p {
    font-size: 18px;
    margin: 12px 0;
  }
  div.userAll .user-left .user-left-top .user-left-title div a {
    font-size: 18px;
  }
  div.userAll .user-left .user-left-fot ul {
    padding-top: 10px;
  }
  div.userAll .user-left .user-left-fot ul li a {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 2.4;
  }
  div.userAll .user-left .user-left-fot ul li a i {
    display: none;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    background: #e22323;
    border-radius: 50%;
    margin: 0 12px 2px;
  }
  div.userAll .user-left .user-left-fot ul li.on a {
    color: #e22323;
  }
  div.userAll .user-left .user-left-fot ul li.on a i {
    display: inline-block;
  }
  div.userAll .user-right {
    width: 898px;
    min-height: 705px;
    background: #fff;
  }
  div.userAll .user-right p.title {
    font-size: 18px;
    background: #e22323;
    color: #fff;
    line-height: 3.25;
    padding-left: 25px;
  }
  div.userAll .user-right div.user-forms {
    padding-top: 5px;
  }
  div.userAll .user-right div.user-forms div.row {
    border-bottom: 1px solid #ccc;
    position: relative;
  }
  div.userAll .user-right div.user-forms div.row > span {
    width: 100px;
    border-bottom: 2px solid #e22323;
    font-size: 18px;
    line-height: 2.9;
    position: relative;
    top: 2px;
    padding-left: 3px;
  }
  div.userAll .user-right div.user-forms div.row .rt-item {
    line-height: 3.3;
    border: none;
    width: 700px;
    margin-left: 3px;
    font-size: 16px;
    padding: 0 5px 0 10px;
    position: relative;
    top: 2px;
    background: transparent;
  }
  div.userAll .user-right div.user-forms div.row div.rt-item label {
    margin-right: 30px;
  }
  div.userAll .user-right div.user-forms div.row div.rt-item label input {
    margin-right: 10px;
  }
  div.userAll .user-right div.user-forms div.row select {
    height: 52px;
    -webkit-appearance: none;
  }
  div.userAll .user-right div.user-forms div.row i {
    position: absolute;
    color: #c7c7c7;
    top: 20px;
    right: 10px;
  }
  div.userAll .user-right div.user-forms div.fot {
    margin-top: 50px;
    text-align: center;
  }
  div.userAll .user-right div.user-forms div.fot button {
    -webkit-appearance: none;
    width: 130px;
    height: 37px;
    background: #e22323;
    color: #fff;
    font-size: 16px;
    border: none;
    margin: auto;
  }
  div.userAll .user-right div.user-forms div.fot button.submit {
    display: none;
  }
  div.userAll .user-right div.user-modify {
    padding: 25px 45px;
  }
  div.userAll .user-right div.user-modify ul.tit li {
    font-size: 18px;
    margin-right: 65px;
    cursor: pointer;
  }
  div.userAll .user-right div.user-modify ul.tit li span {
    font-size: 20px;
    position: relative;
    top: 2px;
  }
  div.userAll .user-right div.user-modify ul.tit li.active {
    color: #e22323;
  }
  div.userAll .user-right div.user-password {
    padding: 15px 45px;
  }
  div.userAll .user-right div.user-password div.user-forms div.fot .reset {
    background: #c3c3c3;
    width: 107px;
  }
  div.userAll .user-right div.query-list {
    padding: 25px;
  }
  div.userAll .user-right div.query-list table th,
  div.userAll .user-right div.query-list table td {
    text-align: center;
    padding: 10px 5px;
    white-space: normal;
    word-break: break-all;
  }
  div.userAll .user-right div.query-list table th {
    font-size: 16px;
  }
  div.userAll .user-right div.query-list table th:first-child {
    width: 50%;
  }
  div.userAll .user-right div.query-list table td {
    border-top: none;
    border-bottom: 1px solid #ccc;
  }
  div.userAll .user-right div.query-info {
    padding: 25px;
  }
  div.userAll .user-right div.query-info table tbody tr th,
  div.userAll .user-right div.query-info table tbody tr td {
    padding: 10px 25px;
    white-space: normal;
    word-break: break-all;
  }
  div.userAll .user-right div.query-info table tbody tr th {
    font-weight: normal;
    width: 172px;
    background: #fef9f8;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  div.userAll .user-left {
    width: 25%;
  }
  div.userAll .user-left .user-left-top .user-left-title {
    padding: 20px 10px 15px;
  }
  div.userAll .user-right {
    width: 73%;
  }
  div.userAll .user-right div.user-forms div.row .rt-item {
    width: 75%;
  }
  div.userAll .user-right div.user-modify {
    padding: 25px;
  }
}
@media screen and (max-width: 767px) {
  div.userAll .user-left {
    width: 100%;
    height: auto;
  }
  div.userAll .user-left .user-left-top .user-left-title {
    padding: 15px;
    text-align: left;
  }
  div.userAll .user-left .user-left-top .user-left-title > a {
    float: left;
  }
  div.userAll .user-left .user-left-top .user-left-title > a img {
    width: 60px;
    height: 60px;
  }
  div.userAll .user-left .user-left-top .user-left-title > a p {
    font-size: 18px;
    margin: 12px 0;
  }
  div.userAll .user-left .user-left-top .user-left-title div {
    float: left;
    margin-left: 15px;
  }
  div.userAll .user-left .user-left-top .user-left-title div p {
    font-size: 16px;
    margin-bottom: 3px;
  }
  div.userAll .user-left .user-left-top .user-left-title div a {
    font-size: 14px;
  }
  div.userAll .user-left .user-left-top .user-left-title div a.floatRight {
    float: left;
    margin-left: 20px;
  }
  div.userAll .user-right {
    width: 100%;
    height: auto;
    min-height: 100px;
  }
  div.userAll .user-right p.title {
    font-size: 16px;
    line-height: 2.25;
    padding-left: 15px;
  }
  div.userAll .user-right div.user-forms div.row > span {
    width: 75px;
    font-size: 14px;
    line-height: 2.8;
  }
  div.userAll .user-right div.user-forms div.row .rt-item {
    line-height: 2.8;
    border: none;
    width: 75%;
    margin-left: 3px;
    font-size: 14px;
    padding: 0 5px;
    background: transparent;
  }
  div.userAll .user-right div.user-forms div.row div.rt-item label {
    margin-right: 30px;
  }
  div.userAll .user-right div.user-forms div.row div.rt-item label input {
    margin-right: 10px;
  }
  div.userAll .user-right div.user-forms div.row select {
    height: 35px;
  }
  div.userAll .user-right div.user-forms div.row i {
    top: 13px;
  }
  div.userAll .user-right div.user-forms div.fot {
    margin: 35px auto;
  }
  div.userAll .user-right div.user-modify {
    padding: 8px;
  }
  div.userAll .user-right div.user-modify ul.tit li {
    font-size: 16px;
    margin-right: 25px;
  }
  div.userAll .user-right div.user-modify ul.tit li span {
    font-size: 18px;
  }
  div.userAll .user-right div.user-password {
    padding: 8px;
  }
  div.userAll .user-right div.user-password div.user-forms div.fot .reset {
    background: #c3c3c3;
    width: 107px;
  }
  div.userAll .user-right div.query-list {
    padding: 8px;
  }
  div.userAll .user-right div.query-list table th,
  div.userAll .user-right div.query-list table td {
    text-align: center;
    padding: 10px 5px;
  }
  div.userAll .user-right div.query-list table th {
    font-size: 16px;
  }
  div.userAll .user-right div.query-list table th:first-child {
    width: 32%;
  }
  div.userAll .user-right div.query-list table td {
    border-top: none;
    border-bottom: 1px solid #ccc;
  }
  div.userAll .user-right div.query-info {
    padding: 8px 0;
  }
  div.userAll .user-right div.query-info table tbody tr th,
  div.userAll .user-right div.query-info table tbody tr td {
    padding: 10px;
  }
  div.userAll .user-right div.query-info table tbody tr th {
    width: 30%;
  }
  div.userAll div.info-top {
    background: #e22323;
    height: 40px;
    line-height: 40px;
    color: #fff;
    position: relative;
    padding-left: 15px;
  }
  div.userAll div.info-top span {
    font-size: 16px;
  }
  div.userAll div.info-top span.s2 {
    float: right;
    width: 30px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    margin-right: 3px;
  }
  div.userAll div.info-top ul.ls {
    display: none;
    position: absolute;
    right: 10px;
    top: 100%;
    background: #fff;
    z-index: 10;
    border: 1px solid #e22323;
    border-radius: 5px;
    line-height: 20px;
    padding: 2px 0;
  }
  div.userAll div.info-top ul.ls li a {
    display: block;
    padding: 5px 15px;
  }
}
