@media screen {
  .research {
    margin-bottom: 23px;
  }
  .research .carousel-indicators {
    width: auto;
    margin: 0;
    left: auto;
    right: 15px;
    bottom: 3px;
  }
  .research .carousel-indicators li {
    width: 8px;
    height: 8px;
    background: #f6f6f6;
    border: none;
  }
  .research .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    background: #035bb0;
  }
  .research .carousel-inner .banner-item a {
    display: block;
    position: relative;
  }
  .research .carousel-inner .banner-item a img {
    display: block;
    width: 100%;
  }
  .research .carousel-inner .banner-item a p {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px 12px;
    color: #fff;
  }
  .research .btn {
    position: absolute;
    top: 45%;
    color: #fff;
    font-size: 18px;
  }
  .research .btn.right {
    right: 0;
  }
  div.knowledge {
    border: 1px solid #b0b0b0;
    padding: 16px 20px;
  }
  div.knowledge ul li {
    padding: 16px 0;
    border-bottom: 1px solid #b0b0b0;
  }
  div.knowledge ul li:last-child {
    border-bottom: none;
  }
  div.knowledge ul li a {
    display: block;
  }
  div.knowledge ul li a .know-left {
    width: 116px;
    height: 94px;
    overflow: hidden;
  }
  div.knowledge ul li a .know-left img {
    display: block;
    margin: auto;
    height: 100%;
  }
  div.knowledge ul li a .know-right {
    width: 182px;
    padding-left: 10px;
  }
  div.knowledge ul li a .know-right .title {
    line-height: 1;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  div.knowledge ul li a .know-right .content-a {
    line-height: 1.3;
    height: 54px;
    overflow: hidden;
  }
  div.knowledge ul li a .know-right .content-b {
    text-align: right;
    font-size: 12px;
    line-height: 1;
  }
  div.knowledge ul li a .know-right .content-b span {
    color: #999;
  }
  div.knowledge ul li a .know-right .content-b span:before {
    margin-right: 5px;
    font-size: 10px;
  }
}
