@media screen {
  div.types {
    position: relative;
    cursor: pointer;
  }
  div.types i {
    position: absolute;
    top: 18px;
    right: 12px;
    width: 16px;
    height: 16px;
    border: 8px solid transparent;
    border-top-color: #fff;
  }
  div.types .sub {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
  }
  div.types .sub li {
    border-bottom: 1px solid #bebebe;
    color: #000;
  }
  div.types .sub li:last-child {
    border-bottom: none;
  }
  div.types .sub li:hover {
    background: #e22323;
    color: #fff;
  }
  section {
    padding: 23px 0;
  }
  section div.banner {
    padding-top: 0;
  }
  section div.crumbsNav {
    margin-bottom: 15px;
  }
  section div.crumbsNav span {
    color: #e22323;
  }
  section .infoGlobal-tab-title {
    border: 1px solid #b0b0b0;
  }
  section .infoGlobal-tab-title li {
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    padding: 0 25px;
    cursor: pointer;
  }
  section .infoGlobal-tab-title li.active {
    background: #e22323;
    color: #fff;
  }
  section div.list-global-title span:before {
    font-size: 22px;
    vertical-align: top;
  }
  section .infoGlobal .infoGlobal-list li {
    border-bottom: 1px solid #b0b0b0;
    padding: 13px 12px 7px;
  }
  section .infoGlobal .infoGlobal-list li a {
    display: block;
  }
  section .infoGlobal .infoGlobal-list li a.title {
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 6px;
  }
  section .infoGlobal .infoGlobal-list li a.info {
    height: 50px;
    overflow: hidden;
  }
  section .infoGlobal .more {
    text-align: center;
    margin: 35px 0 10px;
  }
  section .infoGlobal .more a {
    display: inline-block;
    padding: 3px 20px;
    background: #e22323;
    color: #fff;
  }
  section .infoGlobal .infoGlobal-left {
    width: 830px;
  }
  section .infoGlobal .infoGlobal-right {
    width: 340px;
  }
  section .infoGlobal .infoGlobal-right > div {
    margin-bottom: 19px;
  }
  section .infoGlobal .infoGlobal-right div.new-search {
    background: #f7ddde;
    padding: 12px 15px 36px;
  }
  section .infoGlobal .infoGlobal-right div.new-search p {
    font-size: 16px;
    margin-bottom: 15px;
  }
  section .infoGlobal .infoGlobal-right div.new-search div {
    position: relative;
  }
  section .infoGlobal .infoGlobal-right div.new-search div input {
    display: block;
    width: 100%;
    border: none;
    padding: 6px 50px 6px 10px;
    height: 37px;
  }
  section .infoGlobal .infoGlobal-right div.new-search div button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    font-size: 20px;
    color: #e22323;
    height: 37px;
    padding: 0 15px;
  }
  section .infoGlobal .infoGlobal-right div.train {
    padding: 22px 18px 15px;
    border: 1px solid #bfbfbf;
  }
  section .infoGlobal .infoGlobal-right div.train ul {
    padding: 10px 20px 0;
    margin-left: -3px;
    margin-right: -3px;
  }
  section .infoGlobal .infoGlobal-right div.train ul li {
    width: 50%;
    padding: 3px;
    text-align: center;
  }
  section .infoGlobal .infoGlobal-right div.train ul li a {
    display: block;
    background: #e8e6e7;
  }
  section .infoGlobal .infoGlobal-right div.attention {
    padding: 22px 18px 0;
    border: 1px solid #bfbfbf;
  }
  section .infoGlobal .infoGlobal-right div.attention div.list-global-title {
    margin-bottom: 4px;
  }
  section .infoGlobal .infoGlobal-right div.attention ul {
    overflow: hidden;
  }
  section .infoGlobal .infoGlobal-right div.attention ul li {
    border-bottom: 1px solid #bfbfbf;
    padding: 12px 0;
  }
  section .infoGlobal .infoGlobal-right div.attention ul li:last-child {
    border-bottom: none;
  }
  section .infoGlobal .infoGlobal-right div.attention ul li a {
    display: block;
    line-height: 1.6;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  section .infoGlobal .infoGlobal-right div.attention ul li a span {
    display: inline-block;
    border: 1px solid #e22323;
    color: #e22323;
    border-radius: 15px;
    padding: 0 10px;
    margin-right: 8px;
    line-height: 1.3;
  }
  div.publicity-service div.pub-ser {
    margin-bottom: 25px;
    width: 75.5%;
  }
  div.publicity-service div.pub-ser .pub-title {
    margin-bottom: 20px;
  }
  div.publicity-service div.pub-ser .pub-title span {
    height: 30px;
    line-height: 30px;
  }
  div.publicity-service div.pub-ser .pub-title span.icon {
    width: 40px;
    background: #e22323;
    color: #fff;
    text-align: center;
    font-size: 24px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  div.publicity-service div.pub-ser .pub-title span.title {
    background: #fff;
    min-width: 115px;
    padding: 0 12px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 15px;
  }
  div.publicity-service div.pub-ser .pub-sec {
    margin-left: -26px;
    margin-right: -26px;
  }
  div.publicity-service div.pub-ser .pub-sec div {
    padding: 0 26px;
  }
  div.publicity-service div.pub-ser .pub-sec div img {
    display: block;
    width: 100%;
  }
  div.publicity-service div.pub-ser .pub-sec div p {
    background: #e2e2e2;
    text-align: center;
    padding: 2px 0;
  }
  div.publicity-service div.pub-ser .pub-sec div.unification img {
    width: auto;
    max-width: 100%;
  }
  div.zhuf-title {
    padding-top: 15px;
  }
  div.zhuf-title p {
    font-size: 16px;
    font-weight: bold;
  }
  div.zhuf-title p span {
    color: red;
  }
  div.agents-sec {
    padding: 20px 0;
    margin-left: -8px;
    margin-right: -8px;
  }
  div.agents-sec > div {
    padding: 3px 8px;
  }
  div.agents-sec div.remen {
    border: 1px solid #ddd;
    background: #fff;
    margin-bottom: 15px;
  }
  div.agents-sec div.remen div.d1 {
    height: 120px;
    background-image: url("https://img.sandbox.qixinyun.com/hzlh-remen-bj.jpg");
    background-size: cover;
    padding: 40px 15px 0;
    position: relative;
  }
  div.agents-sec div.remen div.d1 > a {
    margin-right: 17px;
  }
  div.agents-sec div.remen div.d1 > a img {
    width: 53px;
    height: 51px;
  }
  div.agents-sec div.remen div.d1 > div {
    width: 70%;
  }
  div.agents-sec div.remen div.d1 > div p.p1 {
    font-size: 16px;
    margin-bottom: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  div.agents-sec div.remen div.d1 > div p.p1 span {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    background: #fec00f;
    color: #fff;
    line-height: 100%;
    margin-left: 12px;
    padding: 1px 4px;
  }
  div.agents-sec div.remen div.d1 > div p.p2 {
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  div.agents-sec div.remen div.d1 > div p.p2 span {
    color: red;
  }
  div.agents-sec div.remen div.d1 > span {
    position: absolute;
    width: 41px;
    height: 49px;
    background-image: url("https://img.sandbox.qixinyun.com/hzlh-remen-02.png");
    color: #fff;
    font-size: 12px;
    right: 12px;
    top: -7px;
    line-height: 130%;
    letter-spacing: 2px;
    padding: 5px;
  }
  div.agents-sec div.remen div.d2 {
    text-align: center;
    padding: 20px 0;
  }
  div.agents-sec div.remen div.d2 p {
    font-size: 12px;
    margin-bottom: 15px;
    padding: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  div.agents-sec div.remen div.d2 a {
    border: 1px solid #e22323;
    color: #e22323;
    padding: 3px 15px;
    border-radius: 3px;
  }
  div.agents-sec div.remen div.d2 a:hover {
    background: #e22323;
    color: #fff;
  }
}
@media screen and (max-width: 1024px) {
  section {
    padding-top: 0;
  }
  section div.banner {
    padding-bottom: 23px;
  }
  section .infoGlobal-tab-title {
    border: 1px solid #b0b0b0;
  }
  section .infoGlobal-tab-title li {
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    padding: 0 25px;
    cursor: pointer;
  }
  section .infoGlobal-tab-title li.active {
    background: #e22323;
    color: #fff;
  }
  section .infoGlobal .infoGlobal-left {
    width: 100%;
  }
  section .infoGlobal .infoGlobal-left .infoGlobal-list li {
    border-bottom: 1px solid #b0b0b0;
    padding: 13px 12px 6px;
  }
  section .infoGlobal .infoGlobal-left .infoGlobal-list li a {
    display: block;
  }
  section .infoGlobal .infoGlobal-left .infoGlobal-list li a.title {
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 6px;
  }
  section .infoGlobal .infoGlobal-left .more {
    text-align: center;
    margin: 35px 0 10px;
  }
  section .infoGlobal .infoGlobal-left .more a {
    display: inline-block;
    padding: 3px 20px;
    background: #e22323;
    color: #fff;
  }
  div.publicity-service div.pub-ser {
    margin-bottom: 25px;
    width: 100%;
  }
  div.publicity-service div.pub-ser .pub-sec {
    margin-left: -10px;
    margin-right: -10px;
  }
  div.publicity-service div.pub-ser .pub-sec div {
    padding: 0 10px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 767px) {
  section div.crumbsNav {
    padding: 8px;
    margin-bottom: 0;
  }
  section .infoGlobal-tab-title {
    border: 1px solid #eee;
  }
  section .infoGlobal-tab-title li {
    height: 35px;
    line-height: 35px;
    font-size: 12px;
    padding: 0 8px;
  }
}
