@media screen {
  div.license .license-top {
    border: 1px solid #c4c4c4;
    padding: 12px 20px 30px;
    margin-bottom: 25px;
  }
  div.license .license-top p.tit {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  div.license .license-top div.license-search {
    margin-top: 20px;
  }
  div.license .license-top div.license-search .license-item {
    margin-right: 20px;
  }
  div.license .license-top div.license-search .license-item input,
  div.license .license-top div.license-search .license-item select {
    border: 1px solid #c4c4c4;
    height: 30px;
    padding: 0 5px;
  }
  div.license .license-top div.license-search .license-item input,
  div.license .license-top div.license-search .license-item .sel {
    width: 190px;
  }
  div.license .license-top div.license-type a {
    display: inline-block;
    line-height: 2.2;
    width: 120px;
    text-align: center;
    background: #e2e2e2;
    cursor: pointer;
    margin-right: 15px;
  }
  div.license .license-top div.license-type a.on {
    background: #e22323;
    color: #fff;
  }
  div.license .license-top .submit {
    -webkit-appearance: none;
    display: block;
    width: 160px;
    height: 30px;
    font-size: 16px;
    border: none;
    background: #e22323;
    color: #fff;
    margin: 30px auto 0;
  }
  div.license .license-fot ul.license-list {
    border: 1px solid #c4c4c4;
  }
  div.license .license-fot ul.license-list li {
    padding: 18px 160px 18px 22px;
    position: relative;
    border-bottom: 1px solid #c4c4c4;
  }
  div.license .license-fot ul.license-list li:last-child {
    border-bottom: none;
  }
  div.license .license-fot ul.license-list li a.tit {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  div.license .license-fot ul.license-list li p {
    color: #9a9a9a;
  }
  div.license .license-fot ul.license-list li a.a-btn {
    position: absolute;
    top: 29px;
    right: 22px;
    width: 120px;
    line-height: 2.2;
    text-align: center;
    background: #e22323;
    color: #fff;
  }
}
@media screen and (max-width: 767px) {
  div.license .license-top {
    padding: 12px 15px 20px;
    margin-bottom: 15px;
  }
  div.license .license-top div.license-search .license-item {
    margin-right: 0;
    margin-bottom: 10px;
  }
  div.license .license-top div.license-search .license-item input,
  div.license .license-top div.license-search .license-item .sel {
    width: 165px;
  }
  div.license .license-top div.license-type a {
    width: 100px;
    margin-right: 10px;
  }
}
