*,
p,
ul {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: '微软雅黑MAC';
  src: url('http://img.sandbox.qixinyun.com/MSYH.TTF') format('truetype');
}
html {
  font-size: 62.5%;
  min-height: 100%;
}
body {
  min-height: 100%;
  font: 14px/1.8 "微软雅黑";
  color: #333;
  position: relative;
  background: #fdfdfd;
}
body::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background-color: #ddd;
}
body::-webkit-scrollbar-thumb {
  background-color: #45faff;
  border-radius: 2px;
}
body [class^="icon-"],
body [class*=" icon-"] {
  line-height: 1.8;
}
body > section {
  overflow-x: hidden;
}
:focus {
  outline: none;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #2b9cec;
}
table {
  border-spacing: 0;
}
label {
  font-weight: normal;
  margin: 0;
}
header,
nav,
section,
footer {
  display: block;
  width: 100%;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
div.page {
  margin-bottom: 0;
  margin-top: 30px;
  text-align: center;
  height: 35px;
}
div.page .pagination > li > a,
div.page .pagination > li > span {
  border-color: #2b9cec;
  color: #2b9cec;
}
div.page .pagination > li > a:focus,
div.page .pagination > li > a:hover,
div.page .pagination > li > span:focus,
div.page .pagination > li > span:hover {
  background-color: #2b9cec;
  border-color: #2b9cec;
  color: #fff;
}
div.page .pagination > .active > a,
div.page .pagination > .active > a:focus,
div.page .pagination > .active > a:hover,
div.page .pagination > .active > span,
div.page .pagination > .active > span:focus,
div.page .pagination > .active > span:hover {
  background-color: #2b9cec;
  color: #fff;
}
div.pages {
  text-align: center;
  padding: 50px 0 20px;
}
div.pages .pagination li a {
  margin: 0 3px;
  background: transparent;
  border: 1px solid #bfbfbf;
  color: #333;
  border-radius: 1px;
}
div.pages .pagination li.active a {
  background: #2b9cec;
  color: #fff;
  border-color: #fff;
}
div.pages .pagination li:hover a {
  background: #e7e7e7;
}
div.pages .pagination li:first-child a {
  border-radius: 0;
}
div.pages .pagination li:last-child a {
  color: #aaa;
}
.tab-hover-sec,
.tab-click-sec {
  display: none;
}
.tab-hover-sec.active,
.tab-click-sec.active {
  display: block;
}
.input-sec {
  display: none;
}
.input-sec.on {
  display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: "微软雅黑" !important;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icomoon' !important;
}
@media screen and (min-width: 768px) {
  .container {
    width: 1000px;
  }
  body > section {
    min-height: 80vh;
  }
}
/**********************************************************************************************************************/
@media screen {
  header .head-top {
    padding: 5px 0;
    background: #eee;
  }
  header .head-top .container > .row > * {
    margin-left: 10px;
    color: #666;
  }
  header .head-top .container > .row > span {
    margin-left: 0;
  }
  header .head-top .container > .row > a:hover {
    color: #2b9cec;
  }
  header .head-top .container > .row > ul {
    margin-right: 10px;
  }
  header .head-top .container > .row > ul li a {
    display: block;
    min-width: 50px;
    padding: 0 10px;
    text-align: center;
    color: #666;
    position: relative;
  }
  header .head-top .container > .row > ul li a:hover {
    color: #2b9cec;
  }
  header .head-top .container > .row > ul li a span {
    position: absolute;
    top: 0;
    right: -0.05rem;
  }
  header .head-sec {
    padding-bottom: 20px;
  }
  header .head-sec .container > .row a.logo {
    margin-top: 26px;
  }
  header .head-sec .container > .row .search {
    width: 500px;
  }
  header .head-sec .container > .row .search .tab-title li {
    padding: 8px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
  }
  header .head-sec .container > .row .search .tab-title li.active,
  header .head-sec .container > .row .search .tab-title li:hover {
    color: #2b9cec;
  }
  header .head-sec .container > .row .search .tab-sec .search-input {
    border: 1px solid #2b9cec;
    border-radius: 5px;
  }
  header .head-sec .container > .row .search .tab-sec .search-input > * {
    float: left;
    height: 36px;
    border: none;
  }
  header .head-sec .container > .row .search .tab-sec .search-input > *.text {
    width: 450px;
    background: transparent;
    padding: 0 12px;
  }
  header .head-sec .container > .row .search .tab-sec .search-input > *.icon {
    width: 48px;
    background: #2b9cec;
    color: #fff;
    font-size: 20px;
  }
  nav {
    height: 50px;
    background: #2b9cec;
  }
  nav .container > ul .first {
    position: relative;
  }
  nav .container > ul .first .title {
    line-height: 3.6;
    color: #fff;
    padding: 0 30px;
    font-weight: bold;
    cursor: pointer;
  }
  nav .container > ul .first .title span {
    padding: 0 5px;
  }
  nav .container > ul .first .title span:before {
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
  }
  nav .container > ul .first ul.sub {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    width: 100%;
    height: 284px;
    background: #454444;
  }
  nav .container > ul .first ul.sub > li {
    height: 56.8px;
    padding: 0 10px;
    cursor: pointer;
  }
  nav .container > ul .first ul.sub > li > a {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #747373;
    height: 100%;
    line-height: 56.8px;
  }
  nav .container > ul .first ul.sub > li:last-child > a {
    border-bottom: none;
  }
  nav .container > ul .first ul.sub > li:last-child:hover {
    border-bottom: 1px solid #2b9cec;
  }
  nav .container > ul .first ul.sub > li:hover {
    background: #fff;
  }
  nav .container > ul .first ul.sub > li:hover > a {
    color: #333;
    border-bottom: none;
  }
  nav .container > ul .first ul.sub > li div.sub-child {
    display: none;
    cursor: auto;
    position: absolute;
    left: 100%;
    top: 0;
    width: 368px;
    height: 284px;
    overflow: auto;
    background: #fff;
    border: 1px solid #2b9cec;
    border-left: none;
    border-top: none;
    padding: 10px 15px;
    z-index: 1000;
  }
  nav .container > ul .first ul.sub > li div.sub-child::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background-color: #ddd;
  }
  nav .container > ul .first ul.sub > li div.sub-child::-webkit-scrollbar-thumb {
    background-color: #45faff;
    border-radius: 2px;
  }
  nav .container > ul .first ul.sub > li div.sub-child div {
    margin-bottom: 5px;
  }
  nav .container > ul .first ul.sub > li div.sub-child div p {
    font-size: 18px;
    color: #0e385b;
    border-bottom: 1px solid #b5b5b5;
    padding: 2px 0;
    margin-bottom: 5px;
  }
  nav .container > ul .first ul.sub > li div.sub-child div ul li {
    margin-right: 12px;
  }
  nav .container > ul .first ul.sub > li div.sub-child div ul li a {
    display: block;
    color: #666;
  }
  nav .container > ul .first ul.sub > li div.sub-child div ul li a:hover {
    color: #2b9cec;
  }
  nav .container > ul .other {
    border-top: 2px solid transparent;
    padding-bottom: 1px;
  }
  nav .container > ul .other a {
    display: block;
    line-height: 3.4;
    padding: 0 32px;
    font-weight: bold;
    color: #fff;
  }
  nav .container > ul .other.on {
    border-top-color: #0076ca;
  }
  nav .container > ul .other.on a {
    background: #fff;
    color: #333;
  }
  footer {
    background: #2b9cec;
  }
  footer .container {
    text-align: center;
    padding: 15px 0;
    color: #fff;
    position: relative;
  }
  footer .container p {
    line-height: 110%;
  }
  footer .container a {
    color: #fff;
  }
  div.title-a {
    border-bottom: 4px solid #e7e7e7;
    margin-bottom: 10px;
  }
  div.title-a span {
    padding-left: 45px;
    padding-bottom: 2px;
    font-size: 24px;
    padding-right: 20px;
    border-bottom: 4px solid #2b9cec;
    position: relative;
    top: 4px;
    overflow: hidden;
  }
  div.title-a span i {
    position: absolute;
    background: #2b9cec;
    border-radius: 50%;
  }
  div.title-a span i.i-a {
    width: 13px;
    height: 13px;
    top: 16px;
    left: 11px;
  }
  div.title-a span i.i-b {
    width: 42px;
    height: 42px;
    left: -21px;
    bottom: -21px;
  }
  div.title-a a.more {
    background: #cfcfcf;
    border-radius: 5px;
    color: #fff;
    margin-top: 14px;
    margin-right: 14px;
    padding: 0 12px;
  }
  div.title-b {
    background: #2b9cec;
  }
  div.title-b p {
    font-size: 20px;
    color: #fff;
    padding: 1px 16px;
  }
  div.title-c {
    margin-bottom: 30px;
  }
  div.title-c p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  div.title-c i {
    display: block;
    width: 62px;
    border: 2px solid #2b9cec;
  }
  div.title-d {
    height: 48px;
    padding: 6px 14px;
    border-bottom: 4px solid #2b9cec;
  }
  div.title-d span.icon {
    font-size: 18px;
    color: #2b9cec;
  }
  div.title-d span.icon:before {
    margin-right: 6px;
    position: relative;
    top: 2px;
  }
  div.title-d ul {
    margin-left: 35px;
  }
  div.title-d ul li {
    padding: 0 10px;
    cursor: pointer;
    margin-top: 5px;
  }
  div.title-d ul li.active {
    color: #2b9cec;
  }
  div.title-d a.icon {
    font-size: 30px;
    line-height: 1;
    color: #999;
    margin-top: 3px;
  }
  div.title-e {
    border-bottom: 1px solid #e9e9e9;
    padding: 3px 0;
    margin-bottom: 12px;
  }
  div.title-e span {
    font-size: 20px;
    font-weight: bold;
  }
  div.title-e ul {
    margin-left: 30px;
    margin-top: 7px;
  }
  div.title-e ul li {
    font-size: 16px;
    padding: 0 14px;
    position: relative;
    cursor: pointer;
  }
  div.title-e ul li.active {
    color: #2b9cec;
  }
  div.title-e ul li i {
    position: absolute;
    right: -2px;
    top: 11px;
    width: 5px;
    height: 5px;
    background: #2b9cec;
    border-radius: 50%;
  }
  div.title-f {
    border-bottom: 4px solid #cecece;
  }
  div.title-f span {
    font-size: 18px;
    background: #2b9cec;
    color: #fff;
    line-height: 1.8;
    padding: 0 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  div.title-f a {
    background: #c2c2c2;
    color: #fff;
    padding: 0 12px;
    border-radius: 2px;
    line-height: 2;
    margin-right: 5px;
  }
  div.title-g {
    border-bottom: 2px solid #bfbfbf;
    padding-bottom: 2px;
  }
  div.title-g span {
    border-bottom: 4px solid #2b9cec;
    padding: 5px 0;
  }
  div.title-g span:before {
    color: #2b9cec;
    font-size: 18px;
    position: relative;
    top: 3px;
    margin-right: 5px;
  }
  ul.list-global li a {
    display: block;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  ul.list-global li a:hover {
    font-weight: bold;
    color: #333;
  }
  ul.list-global.point li a {
    padding-left: 16px;
  }
  ul.list-global.point li a i {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #bfbfbf;
    border-radius: 50%;
    left: 0;
    top: 10px;
  }
  ul.list-global.point li a:hover i {
    background: #2b9cec;
  }
  ul.list-global.times li a {
    padding-right: 86px;
  }
  ul.list-global.times li a .time {
    position: absolute;
    right: 0;
    color: #999;
  }
  ul.list-global.times li a:hover .time {
    font-weight: normal;
    color: #999;
  }
  div.column {
    margin: 12px 0;
  }
  div.column .column-a {
    background: #2b9cec;
    color: #fff;
    padding: 0 10px;
  }
  div.column .column-b {
    padding: 0 10px;
    background: #efefef;
  }
  div.column .time {
    color: #9f9f9f;
    height: 25px;
    line-height: 1.8;
  }
  div.column div.time {
    color: #aaa;
  }
  div.column div.time span {
    padding: 0 5px;
    font-size: 12px;
  }
  div.list-global-title {
    border-bottom: 4px solid #e6e6e6;
    margin-bottom: 5px;
  }
  div.list-global-title span {
    border-bottom: 4px solid #2b9cec;
    font-size: 18px;
    position: relative;
    top: 6px;
    padding: 0 2px 5px;
  }
  div.list-global-title span:before {
    margin-right: 4px;
    color: #2b9cec;
    font-size: 26px;
    position: relative;
    top: -2px;
  }
  div.list-global-title a {
    color: #666;
  }
  .carousel {
    max-width: 1000px !important;
    margin: auto !important;
  }
  .carousel .carousel-indicators {
    bottom: 32px;
  }
  .carousel .carousel-inner .item a {
    position: relative;
  }
  .carousel .carousel-inner .item a p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 3px 10px;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #targetedBanner .a_img {
    height: 360px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .container {
    width: 96%;
  }
  header .head-top .container {
    width: 96%;
  }
  header .head-sec .container {
    width: 96%;
  }
  header .head-sec .container > .row .search {
    width: 388px;
  }
  header .head-sec .container > .row .search .tab-title li {
    padding: 8px 12px;
  }
  header .head-sec .container > .row .search .tab-sec .search-input > *.text {
    width: 338px;
  }
}
@media screen and (max-width: 767px) {
  header {
    padding: 10px 0;
  }
  header .container a.logo {
    width: 50%;
  }
  header .container a.logo img {
    display: block;
    max-width: 100%;
  }
  header .container ul {
    margin-top: 3px;
  }
  header .container ul li a {
    display: block;
    width: 50px;
    text-align: center;
    color: #666;
  }
  header .container ul li a:hover {
    color: #2b9cec;
  }
  header .container ul li a span {
    float: right;
  }
  nav {
    height: 40px;
  }
  nav .container {
    width: 100%;
  }
  nav .container > ul .first .title {
    line-height: 2.9;
    padding: 0 10px 0 4px;
  }
  nav .container > ul .first ul.sub > li div.sub-child {
    width: 268px;
  }
  nav .container > ul .other a {
    line-height: 2.7;
    padding: 0 12px;
  }
  .search {
    width: 96%;
    margin: 0 auto 12px;
  }
  .search .tab-title li {
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
  }
  .search .tab-title li.active,
  .search .tab-title li:hover {
    color: #2b9cec;
  }
  .search .tab-sec .search-input {
    border: 1px solid #2b9cec;
    border-radius: 5px;
  }
  .search .tab-sec .search-input > * {
    float: left;
    height: 36px;
    border: none;
  }
  .search .tab-sec .search-input > *.text {
    width: 82%;
    background: transparent;
    padding: 0 12px;
  }
  .search .tab-sec .search-input > *.icon {
    float: right;
    width: 18%;
    background: #2b9cec;
    color: #fff;
    font-size: 18px;
  }
  div.title-f span {
    font-size: 14px;
  }
  div.title-f a {
    line-height: 1.6;
  }
  #targetedBanner .a_img {
    height: 200px !important;
  }
}
