<header class="hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <a href="#" class="logo floatLeft"><img src="../../images/yc-portal-logo.png" alt=""></a>
            <!--登录、注册-->
            <ul class="hearLogin floatRight row">
                <li class="floatLeft"><a href="javascript:void(0);" onclick="signInLayer();">登录</a></li>
                <li class="floatLeft"><a href="javascript:void(0);" onclick="signUpLayer();">注册</a></li>
            </ul>

            <!--已登录状态-->
            <!--<ul class="hearLogin floatRight row">-->
            <!--<li class="floatLeft">-->
            <!--<a href="javascript:void(0);">-->
            <!--<div class="already">-->
            <!--<div>-->
            <!--<img src="../../images/yc-user-portrait.png" alt="">-->
            <!--</div>-->
            <!--<span>10</span>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li class="floatLeft"><a href="javascript:void(0);" style="padding-top: 3px;">退出</a></li>-->
            <!--</ul>-->

            <!--搜索-->
            <div class="searchBox floatRight">
                <!--农户产品-->
                <form action="" class="tab-click-sec active">
                    <div class="search">
                        <input type="text" placeholder="请输入产品名称">
                        <button class="iconfont icon-search submitBtn"></button>
                    </div>
                </form>
                <!--企业产品-->
                <form action="" class="tab-click-sec">
                    <div class="search">
                        <input type="text" placeholder="请输入产品名称">
                        <button class="iconfont icon-search submitBtn"></button>
                    </div>
                </form>
                <!--新闻信息-->
                <form action="" class="tab-click-sec">
                    <div class="search">
                        <input type="text" placeholder="请输入关键字">
                        <button class="iconfont icon-search submitBtn"></button>
                    </div>
                </form>

                <!--切换-->
                <ul class="row">
                    <li class="floatLeft tab-click-li active">农户产品</li>
                    <li class="floatLeft tab-click-li">企业产品</li>
                    <li class="floatLeft tab-click-li">新闻信息</li>
                </ul>
            </div>
        </div>
    </div>
</header>

<!--手机头部-->
<header class="visible-xs visible-sm">
    <div class="row">
        <a href="#" class="logo floatLeft"><img src="../../images/yc-portal-logo.png" alt=""></a>
        <!--登录、注册-->
        <ul class="hearLogin floatRight row">
            <li class="floatLeft"><a href="javascript:signInLayer();">登录</a></li>
            <li class="floatLeft"><a href="javascript:signUpLayer();">注册</a></li>
        </ul>

        <!--已登录状态-->
        <!--<ul class="hearLogin floatRight row">-->
        <!--<li class="floatLeft">-->
        <!--<a href="javascript:void(0);">-->
        <!--<div class="already">-->
        <!--<div>-->
        <!--<img src="../../images/yc-user-portrait.png" alt="">-->
        <!--</div>-->
        <!--<span>10</span>-->
        <!--</div>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="floatLeft"><a href="javascript:void(0);" style="padding-top: 3px;">退出</a></li>-->
        <!--</ul>-->
    </div>
</header>