@media screen {
  .factDock {
    padding-top: 12px;
  }
  .factDock .factDockTop {
    height: 192px;
    background: url("../images/yc-factDock.png") no-repeat;
    position: relative;
    margin-bottom: 14px;
  }
  .factDock .factDockTop .factDockTopLeft {
    padding: 0 130px;
    max-width: 833px;
  }
  .factDock .factDockTop .factDockTopLeft p.title {
    text-align: center;
    font-size: 24px;
    position: relative;
    top: -3px;
  }
  .factDock .factDockTop .factDockTopLeft p.title span {
    font-size: 36px;
    color: #336699;
  }
  .factDock .factDockTop .factDockTopLeft ul {
    padding: 10px 15px;
  }
  .factDock .factDockTop .factDockTopLeft ul li {
    width: 50%;
    padding: 0 10px;
    position: relative;
  }
  .factDock .factDockTop .factDockTopLeft ul li:hover {
    color: #336699;
  }
  .factDock .factDockTop .factDockTopLeft ul li span.one {
    display: inline-block;
    width: 80px;
  }
  .factDock .factDockTop .factDockTopLeft ul li span.two {
    font-size: 18px;
  }
  .factDock .factDockTop .factDockTopLeft ul li.hot:after {
    content: "HOT";
    position: absolute;
    top: 7px;
    right: 30px;
    line-height: 1.2;
    background: #ee5f5f;
    color: #fff;
    font-size: 12px;
    padding: 1px 5px;
  }
  .factDock .factDockTop .factDockTopLeft ul li.new:after {
    content: "NEW";
    position: absolute;
    top: 7px;
    right: 30px;
    line-height: 1.2;
    background: #ff9742;
    color: #fff;
    font-size: 12px;
    padding: 1px 5px;
  }
  .factDock .factDockTop .factDockTopRight {
    position: absolute;
    top: 0;
    right: 14px;
  }
  .factDock .factDockTop .factDockTopRight div.row {
    margin-top: 19px;
  }
  .factDock .factDockTop .factDockTopRight div.row > * {
    float: left;
    margin-right: 5px;
  }
  .factDock .factDockTop .factDockTopRight div.row input {
    width: 30px;
    height: 38px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 18px;
  }
  .factDock .factDockTop .factDockTopRight div.row span {
    color: #fff;
    line-height: 2.78;
  }
  .factDock .factDockTop .factDockTopRight div.row span.one {
    width: 80px;
  }
  .factDock .factDockTop > img {
    position: absolute;
    top: 79px;
    right: 348px;
  }
  .factDock .factDockCenter {
    margin-bottom: 12px;
  }
  .factDock .factDockCenter > .row {
    margin-left: -4px;
    margin-right: -4px;
  }
  .factDock .factDockCenter > .row > div {
    padding: 0 4px;
  }
  .factDock .factDockCenter > .row > div .item {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 12px;
    position: relative;
  }
  .factDock .factDockCenter > .row > div .item span.topIcon {
    position: absolute;
    width: 66px;
    height: 61px;
    background: url("../images/yc-lable1.png") no-repeat;
    text-align: center;
    left: 5px;
    top: -10px;
    padding: 3px 13px 5px 15px;
    color: #fff;
    letter-spacing: 2px;
  }
  .factDock .factDockCenter > .row > div .item span.topIcon.top2 {
    background: url("../images/yc-lable2.png") no-repeat;
  }
  .factDock .factDockCenter > .row > div .item span.topIcon.top3 {
    background: url("../images/yc-lable3.png") no-repeat;
  }
  .factDock .factDockCenter > .row > div .item span.topIcon.top4 {
    background: url("../images/yc-lable4.png") no-repeat;
  }
  .factDock .factDockCenter > .row > div .item span.top {
    position: absolute;
    font-size: 18px;
    top: 22px;
    left: 10px;
    color: #468d8d;
  }
  .factDock .factDockCenter > .row > div .item:last-child {
    border-bottom: none;
  }
  .factDock .factDockCenter > .row > div .item .itemTop {
    padding: 10px 0;
    padding-left: 51px;
    margin-bottom: 5px;
    height: 50px;
  }
  .factDock .factDockCenter > .row > div .item .itemTop img {
    height: 30px;
    vertical-align: middle;
    padding: 6px 10px;
  }
  .factDock .factDockCenter > .row > div .item .itemTop span {
    font-size: 18px;
    position: relative;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    max-width: 160px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .factDock .factDockCenter > .row > div .item .itemTop span:before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    height: 20px;
    border: 1px solid #ddd;
  }
  .factDock .factDockCenter > .row > div .item ul li {
    padding: 0;
    text-align: center;
  }
  .factDock .factDockCenter > .row > div .item ul li div.tits span {
    font-size: 22px;
  }
  .factDock .factDockCenter > .row > div .item ul li div.two {
    width: 80px;
    height: 28px;
    margin: auto;
    border: 1px solid #ddd;
    padding-top: 7px;
    margin-bottom: 10px;
  }
  .factDock .factDockCenter > .row > div .item ul li div.two span {
    display: block;
    line-height: 1.4;
    background: #9cf;
    color: #fff;
    height: 19px;
    overflow: hidden;
  }
  .factDock .factDockCenter > .row > div.top2 span.top {
    color: #0099cc;
  }
  .factDock .factDockCenter > .row > div.top3 span.top {
    color: #ff9742;
  }
  .factDock .factDockCenter > .row > div.top4 span.top {
    color: #e9464e;
  }
  .factDock .factDockProduct {
    background: #fff;
  }
  .factDock .factDockProduct .productTop {
    padding: 12px;
  }
  .factDock .factDockProduct .productTop .titleOne {
    margin-bottom: 12px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft {
    width: 74%;
    padding: 12px 30px 12px 0;
    border-right: 1px dashed #ff9742;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose {
    position: relative;
    margin-bottom: 15px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose > span {
    width: 75px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose a.more {
    position: absolute;
    top: -3px;
    right: 0;
    color: #909399;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose > ul {
    width: 85%;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose > ul li {
    cursor: pointer;
    margin-right: 5%;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose > ul li i {
    position: relative;
    top: 1px;
    color: #ff9742;
    background: transparent;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose div.sub {
    display: none;
    position: absolute;
    width: 90%;
    top: 40px;
    right: 0;
    background: #fff;
    z-index: 20;
    border: 1px solid #ddd;
    padding: 12px 0;
    box-shadow: 0 0 10px #ddd;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose div.sub .subF {
    text-align: right;
    padding: 12px;
    padding-bottom: 0;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose div.sub .subF input {
    padding: 0 12px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose div.sub .subF input.submitBtn {
    border: none;
    background: #ff9742;
    color: #fff;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose div.sub .subF input.reset {
    border: 1px solid #ddd;
    background: none;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose div.sub > i {
    position: absolute;
    top: -24px;
    right: 15px;
    width: 16px;
    height: 24px;
    border: 8px solid transparent;
    border-bottom: 12px solid #ddd;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose div.sub > i.i2 {
    border-bottom-color: #fff;
    top: -22px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose div.sub ul {
    padding: 0 5px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose div.sub ul li {
    cursor: pointer;
    padding: 0 10px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose div.sub ul li i {
    position: relative;
    top: 1px;
    color: #ff9742;
    background: transparent;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .matters > div {
    padding-left: 0;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .matters > div > * {
    float: left;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .matters > div .s1 {
    width: 75px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .matters > div input {
    width: 120px;
    border: 1px solid #ddd;
    margin-right: 5px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proRight {
    width: 25%;
    padding-top: 5px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proRight button {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 40px;
    border: none;
    background: #ff9742;
    color: #fff;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proRight button.reset {
    background: none;
    border: 1px solid #ddd;
    color: #606266;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .factDock .factDockCenter > .row > div {
    margin-bottom: 14px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft {
    width: 100%;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proRight {
    width: 100%;
    text-align: center;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proRight button {
    display: inline-block;
  }
}
@media screen and (max-width: 767px) {
  .factDock .factDockCenter > .row > div {
    margin-bottom: 14px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft {
    width: 100%;
    padding: 12px;
    border-right: none;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose > ul {
    width: 100%;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .choose div.sub {
    width: 100%;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proLeft .matters > div {
    margin-bottom: 12px;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proRight {
    width: 100%;
    text-align: center;
    padding-top: 0;
  }
  .factDock .factDockProduct .productTop .productTopMain > .row .proRight button {
    display: inline-block;
    margin-top: 0;
  }
}
