<div class="infoRightPublic floatRight hidden-xs hidden-sm">
    <!--相关产品-->
    <div class="infoRightItem">
        <div class="itemTitle">
            <span>相关产品</span>
        </div>
        <ul class="itemList">
            <li>
                <a href="../layouts/productInfo.html">
                    <div class="row one">
                        <span>小额贷款</span> | <span>中国建设银行</span>
                    </div>
                    <div class="row">
                        <span>最高20万</span>
                        <span class="floatRight">已申请500次</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="../layouts/productInfo.html">
                    <div class="row one">
                        <span>小额贷款</span> | <span>中国建设银行</span>
                    </div>
                    <div class="row">
                        <span>最高20万</span>
                        <span class="floatRight">已申请500次</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="../layouts/productInfo.html">
                    <div class="row one">
                        <span>小额贷款</span> | <span>中国建设银行</span>
                    </div>
                    <div class="row">
                        <span>最高20万</span>
                        <span class="floatRight">已申请500次</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!--文章搜索-->
    <div class="infoRightItem">
        <div class="itemTitle">
            <span>文章搜索</span>
        </div>
        <form action="">
            <div class="search">
                <div>
                    <input type="text" placeholder="请输入关键字">
                    <button class="iconfont icon-search submitBtn"></button>
                </div>
            </div>
        </form>
    </div>
    <!--最新动态-->
    <div class="infoRightItem">
        <div class="itemTitle">
            <span>最新动态</span>
        </div>
        <ul class="dynamic">
            <li>
                <a href="../policyHall/policyInfo.html">宜昌市易地扶贫搬迁获国家1.2亿资金</a>
                <p><span>新华网</span><span>2018-04-08</span></p>
            </li>
            <li>
                <a href="../policyHall/policyInfo.html">宜昌市易地扶贫搬迁获国家1.2亿资金</a>
                <p><span>新华网</span><span>2018-04-08</span></p>
            </li>
            <li>
                <a href="../policyHall/policyInfo.html">宜昌市易地扶贫搬迁获国家1.2亿资金</a>
                <p><span>新华网</span><span>2018-04-08</span></p>
            </li>
            <li>
                <a href="../policyHall/policyInfo.html">宜昌市易地扶贫搬迁获国家1.2亿资金</a>
                <p><span>新华网</span><span>2018-04-08</span></p>
            </li>
            <li>
                <a href="../policyHall/policyInfo.html">宜昌市易地扶贫搬迁获国家1.2亿资金</a>
                <p><span>新华网</span><span>2018-04-08</span></p>
            </li>
            <li>
                <a href="../policyHall/policyInfo.html">宜昌市易地扶贫搬迁获国家1.2亿资金</a>
                <p><span>新华网</span><span>2018-04-08</span></p>
            </li>
            <li>
                <a href="../policyHall/policyInfo.html">宜昌市易地扶贫搬迁获国家1.2亿资金</a>
                <p><span>新华网</span><span>2018-04-08</span></p>
            </li>
            <li>
                <a href="../policyHall/policyInfo.html">宜昌市易地扶贫搬迁获国家1.2亿资金</a>
                <p><span>新华网</span><span>2018-04-08</span></p>
            </li>
            <li>
                <a href="../policyHall/policyInfo.html">宜昌市易地扶贫搬迁获国家1.2亿资金</a>
                <p><span>新华网</span><span>2018-04-08</span></p>
            </li>
            <li>
                <a href="../policyHall/policyInfo.html">宜昌市易地扶贫搬迁获国家1.2亿资金</a>
                <p><span>新华网</span><span>2018-04-08</span></p>
            </li>
        </ul>
    </div>
</div>