<div class="search-sj visible-xs visible-sm">
    <ul class="sj-list">
        <li class="tab-click-li active">农户产品</li>
        <li class="tab-click-li">企业产品</li>
        <li class="tab-click-li">新闻信息</li>
    </ul>
    <!--信用信息-->
    <form action="" class="tab-click-sec active">
        <div class="search-box">
            <a class="a-xy"><span class="s1">农户产品</span> <span
                    class="s2 glyphicon glyphicon-triangle-bottom"></span></a>
            <input type="text" placeholder="请输入产品名称">
            <button><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </form>
    <form action="" class="tab-click-sec">
        <div class="search-box">
            <a class="a-xy"><span class="s1">企业产品</span> <span
                    class="s2 glyphicon glyphicon-triangle-bottom"></span></a>
            <input type="text" placeholder="请输入产品名称">
            <button><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </form>
    <!--统一社会信用代码-->
    <form action="" class="tab-click-sec">
        <div class="search-box">
            <a class="a-xy"><span class="s1">新闻信息</span> <span
                    class="s2 glyphicon glyphicon-triangle-bottom"></span></a>
            <input type="text" placeholder="请输入关键字">
            <button><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </form>
</div>