@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1b6t5z');
  src:  url('fonts/icomoon.eot?1b6t5z#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1b6t5z') format('truetype'),
    url('fonts/icomoon.woff?1b6t5z') format('woff'),
    url('fonts/icomoon.svg?1b6t5z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bq:before {
  content: "\e96d";
}
.icon-tels:before {
  content: "\e96e";
}
.icon-mz:before {
  content: "\e96f";
}
.icon-top:before {
  content: "\e966";
}
.icon-wem:before {
  content: "\e967";
}
.icon-by:before {
  content: "\e968";
}
.icon-hz:before {
  content: "\e969";
}
.icon-tel:before {
  content: "\e96a";
}
.icon-ts:before {
  content: "\e96b";
}
.icon-wts:before {
  content: "\e96c";
}
.icon-fx:before {
  content: "\e963";
}
.icon-jl:before {
  content: "\e964";
}
.icon-wz:before {
  content: "\e965";
}
.icon-db:before {
  content: "\e962";
}
.icon-ewr:before {
  content: "\e961";
}
.icon-fab:before {
  content: "\e95b";
}
.icon-guali:before {
  content: "\e95d";
}
.icon-jine:before {
  content: "\e959";
}
.icon-mudi:before {
  content: "\e95a";
}
.icon-geren:before {
  content: "\e95c";
}
.icon-jind:before {
  content: "\e95e";
}
.icon-passs:before {
  content: "\e95f";
}
.icon-tongz:before {
  content: "\e960";
}
.icon-ger:before {
  content: "\e954";
}
.icon-guanl:before {
  content: "\e955";
}
.icon-qiyes:before {
  content: "\e956";
}
.icon-times:before {
  content: "\e957";
}
.icon-neww:before {
  content: "\e958";
}
.icon-round:before {
  content: "\e950";
}
.icon-more:before {
  content: "\e951";
}
.icon-qy:before {
  content: "\e952";
}
.icon-yzm:before {
  content: "\e953";
}
.icon-chanp:before {
  content: "\e948";
}
.icon-dongt:before {
  content: "\e949";
}
.icon-gongs:before {
  content: "\e94a";
}
.icon-jigou:before {
  content: "\e94b";
}
.icon-jiejue:before {
  content: "\e94c";
}
.icon-hez:before {
  content: "\e94d";
}
.icon-question:before {
  content: "\e94e";
}
.icon-zhengw:before {
  content: "\e94f";
}
.icon-down:before {
  content: "\e947";
  color: #474747;
}
.icon-earth:before {
  content: "\e944";
}
.icon-time:before {
  content: "\e945";
}
.icon-news:before {
  content: "\e946";
}
.icon-new:before {
  content: "\e93f";
}
.icon-danw:before {
  content: "\e940";
}
.icon-map:before {
  content: "\e941";
}
.icon-searchs:before {
  content: "\e942";
}
.icon-lab:before {
  content: "\e943";
}
.icon-bangd:before {
  content: "\e924";
}
.icon-fankui:before {
  content: "\e939";
}
.icon-gongshi:before {
  content: "\e93a";
}
.icon-jianguan:before {
  content: "\e93b";
}
.icon-link:before {
  content: "\e93c";
}
.icon-qiye:before {
  content: "\e93d";
}
.icon-book:before {
  content: "\e93e";
}
.icon-card:before {
  content: "\e938";
}
.icon-black:before {
  content: "\e936";
}
.icon-red:before {
  content: "\e937";
}
.icon-liuy:before {
  content: "\e935";
}
.icon-index:before {
  content: "\e934";
}
.icon-suoz:before {
  content: "\e932";
}
.icon-tuan:before {
  content: "\e933";
}
.icon-wei:before {
  content: "\e931";
}
.icon-guanz:before {
  content: "\e92d";
}
.icon-liu:before {
  content: "\e92e";
}
.icon-shouc:before {
  content: "\e92f";
}
.icon-wos:before {
  content: "\e930";
}
.icon-bianj:before {
  content: "\e922";
}
.icon-jieb:before {
  content: "\e923";
}
.icon-aix:before {
  content: "\e925";
}
.icon-diz:before {
  content: "\e926";
}
.icon-fenx:before {
  content: "\e927";
}
.icon-gouwc:before {
  content: "\e928";
}
.icon-jil:before {
  content: "\e929";
}
.icon-add:before {
  content: "\e92a";
}
.icon-jt:before {
  content: "\e92b";
}
.icon-liaot:before {
  content: "\e92c";
}
.icon-next:before {
  content: "\e920";
  color: #8a8a8a;
}
.icon-prev:before {
  content: "\e921";
  color: #8a8a8a;
}
.icon-h-ico:before {
  content: "\e91f";
  color: #8a8a8a;
}
.icon-search:before {
  content: "\e91e";
}
.icon-bianji:before {
  content: "\e90e";
}
.icon-deng:before {
  content: "\e91b";
}
.icon-sh:before {
  content: "\e91c";
}
.icon-shoucang:before {
  content: "\e91d";
}
.icon-jiant:before {
  content: "\e91a";
}
.icon-user:before {
  content: "\e918";
}
.icon-suo:before {
  content: "\e919";
}
.icon-qq:before {
  content: "\e913";
}
.icon-login:before {
  content: "\e914";
}
.icon-password:before {
  content: "\e915";
}
.icon-phone:before {
  content: "\e916";
}
.icon-weibo:before {
  content: "\e917";
}
.icon-bgzj:before {
  content: "\e900";
}
.icon-chaxun:before {
  content: "\e901";
}
.icon-chaoshi:before {
  content: "\e902";
}
.icon-dashujv:before {
  content: "\e903";
}
.icon-fabu:before {
  content: "\e904";
}
.icon-gqtz:before {
  content: "\e905";
}
.icon-jss:before {
  content: "\e906";
}
.icon-jrcp:before {
  content: "\e907";
}
.icon-jrfw:before {
  content: "\e908";
}
.icon-qita:before {
  content: "\e909";
}
.icon-quanp:before {
  content: "\e90a";
}
.icon-rancai:before {
  content: "\e90b";
}
.icon-renli:before {
  content: "\e90c";
}
.icon-gl:before {
  content: "\e90d";
}
.icon-sxxz:before {
  content: "\e90f";
}
.icon-xxgs:before {
  content: "\e910";
}
.icon-zscq:before {
  content: "\e911";
}
.icon-zx:before {
  content: "\e912";
}
