<nav>
    <div class="container">
        <ul class="row">
            <li class="floatLeft"><a href="../index/index.html">首 页 <span>|</span></a></li>
            <li class="floatLeft"><a href="../OrganizationalStructure/Organizational.html">组织架构 <span>|</span></a></li>
            <li class="floatLeft"><a href="../PolicyRegulations/Policy.html">政策法规 <span>|</span></a></li>
            <li class="floatLeft on"><a href="../StandardSpecification/Standard.html">标准规范 <span>|</span></a></li>
            <li class="floatLeft"><a href="../CreditPublicity/creditPublicity.html">信用公示 <span>|</span></a></li>
            <li class="floatLeft"><a href="../JointPunishment/jointPunishment.html">联合奖惩 <span>|</span></a></li>
            <li class="floatLeft"><a href="../CreditDynamic/creditDynamic.html">信用动态 <span>|</span></a></li>
            <li class="floatLeft"><a href="../CreditResearch/creditResearch.html">信用研究 <span>|</span></a></li>
            <li class="floatLeft"><a href="../ServiceHall/serviceHall.html">服务大厅 <span>|</span></a></li>
            <li class="floatLeft"><a href="../MapOfCredit/creditMap.html">信用地图 <span>|</span></a></li>
            <li class="floatLeft"><a href="../CreditPublication/creditPublication.html">信用刊物 <span>|</span></a></li>
            <li class="floatLeft"><a href="../SiteNavigation/SiteNavigation.html">网站导航</a></li>
        </ul>
    </div>
</nav>