<nav>
    <div class="container">
        <ul class="row">
            <li class="floatLeft">
                <a href="../index/index.html">首页</a>
            </li>
            <li class="floatLeft">
                <a href="../poverty/poverty.html">精准扶贫</a>
            </li>
            <li class="floatLeft">
                <a href="../factDock/factDock.html">银企对接</a>
            </li>
            <li class="floatLeft">
                <a href="../policyHall/policyHall.html">政策大厅</a>
            </li>
            <li class="floatLeft">
                <a href="../new/creditConstruction.html">信用建设</a>
            </li>
            <li class="floatLeft">
                <a href="../new/joint.html">联合奖惩</a>
            </li>
            <li class="floatLeft">
                <a href="../new/creditDynamic.html">信用动态</a>
            </li>
        </ul>
    </div>
</nav>