<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>信用萍乡</title>
    <!--字体图标-->
    <link rel="stylesheet" href="../../font/style.css">
</head>
<body style="font-size: 14px;line-height: 1.6;font-family: 'Microsoft YaHei';padding: 0;margin: 0;">
<section style="padding: 30px 0;">
    <!--征信报告-->
    <div class="download"
         style="max-width: 1200px;min-width: 600px;min-height: 760px;margin: auto;background: url('https://static.zx.qixinyun.com/pxiang-portal-downloadBj.jpg') repeat;">
        <div class="report-top" style="border: 1px solid #bfbfbf;padding: 34px;padding-top: 0">
            <p class="title" style="font-size: 34px;margin-bottom: 25px;">成都虾米科技有限公司 <span
                    style="display: inline-block;vertical-align: middle;margin-left: 15px;font-size: 14px;border: 1px solid #e22323;padding: 0 12px;">在营</span>
            </p>
            <div class="title-one" style="margin-top: 20px;">
                <span class="icon-jl" style="color: #e22323;font-size: 18px;margin-right: 5px;"></span>统一社会信用代码：915101003430867072
            </div>
            <div class="title-one row" style="margin-top: 20px;">
                <span class="icon-wz" style="color: #e22323;font-size: 18px;margin-right: 5px;"></span>地址：成都高新区(西区)新航路4号

                <div style="float: right;">
                    <span class="icon-fx" style="color: #e22323;font-size: 18px;margin-right: 5px;"></span>
                    报告下载时间：2018年1月22日
                </div>
            </div>
        </div>

        <div class="report-sec" style="padding: 20px;">
            <div class="item">
                <div class="tit" style="border-bottom: 4px solid #e7e7e7;margin-bottom: 10px;">
                    <span class="icon-neww"
                          style="display: inline-block;border-bottom: 4px solid #e22323;font-size: 16px;padding: 5px;position: relative;top: 4px;"> 基本信息</span>
                </div>
                <div class="section" style="padding: 10px 0;">
                    <p class="row"><b style="display: inline-block; width: 140px;">统一社会信用代码：</b> <span style="">KDFKO0206939328</span>
                    </p>
                    <p class="row"><b style="display: inline-block; width: 140px;">法人信息：</b> <span style="">张爱玲</span>
                    </p>
                    <p class="row"><b style="display: inline-block; width: 140px;">成立日期：</b> <span
                            style="">2012/09/20</span></p>
                    <p class="row"><b style="display: inline-block; width: 140px;">企业类型：</b> <span
                            style="">个人独资企业</span></p>
                    <p class="row"><b style="display: inline-block; width: 140px;">登记机关：</b> <span
                            style="">个人独资企业</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>