<!--include "../../views/head/head-top.html"-->

<!--内页公共css-->
<link rel="stylesheet" href="<!--inLink '../../views/link/infoGlobal.txt'-->">

<!--本页主体css-->
<link rel="stylesheet" href="<!--inLink '../../views/link/newsInfo.txt'-->">

<!--include "../../views/head/head-fot.html"-->

<!--头部-->
<!--include "../../views/header.html"-->

<!--导航-->
<!--include "../../views/nav/index-nav.html"-->

<!--移动端搜索-->
<!--include "../../views/search-sj.html"-->

<!--主体-->
<section>
    <div class="container">
        <!--面包屑导航-->
        <div class="crumbsNav">
            您所在位置：
            <a href="javascript:">首页 ></a>
            <span>信用信息搜索</span>
        </div>
        <div class="infoGlobal row">
            <!--文章搜索列表-->
            <div class="infoGlobal-left floatLeft">
                <div class="information">
                    <p class="title">
                        搜索 “北京” 为您提供以下搜索结果
                    </p>
                    <ul class="information-list">
                        <li>
                            <a href="javascript:"><span>北京</span>碳化公司</a>
                            <p>统一社会信用代码：839496720f8k3kd9lk</p>
                        </li>
                        <li>
                            <a href="javascript:"><span>北京</span>碳化公司</a>
                            <p>统一社会信用代码：839496720f8k3kd9lk</p>
                        </li>
                        <li>
                            <a href="javascript:"><span>北京</span>碳化公司</a>
                            <p>统一社会信用代码：839496720f8k3kd9lk</p>
                        </li>
                        <li>
                            <a href="javascript:"><span>北京</span>碳化公司</a>
                            <p>统一社会信用代码：839496720f8k3kd9lk</p>
                        </li>
                        <li>
                            <a href="javascript:"><span>北京</span>碳化公司</a>
                            <p>统一社会信用代码：839496720f8k3kd9lk</p>
                        </li>
                        <li>
                            <a href="javascript:"><span>北京</span>碳化公司</a>
                            <p>统一社会信用代码：839496720f8k3kd9lk</p>
                        </li>
                        <li>
                            <a href="javascript:"><span>北京</span>碳化公司</a>
                            <p>统一社会信用代码：839496720f8k3kd9lk</p>
                        </li>
                        <li>
                            <a href="javascript:"><span>北京</span>碳化公司</a>
                            <p>统一社会信用代码：839496720f8k3kd9lk</p>
                        </li>
                        <li>
                            <a href="javascript:"><span>北京</span>碳化公司</a>
                            <p>统一社会信用代码：839496720f8k3kd9lk</p>
                        </li>
                        <li>
                            <a href="javascript:"><span>北京</span>碳化公司</a>
                            <p>统一社会信用代码：839496720f8k3kd9lk</p>
                        </li>
                    </ul>
                    <!--分页-->
                    <!--include "../../views/layouts/page.html"-->
                </div>
            </div>
            <!--右侧-->
            <div class="infoGlobal-right floatRight"></div>
        </div>
    </div>
</section>

<!--PC底部-->
<!--include "../../views/footer.html"-->


<!--本页js-->

<!--include "../../views/foot/foot.html"-->