<!--include "../../views/head/head-top.html"-->

<!--内页公共css-->
<link rel="stylesheet" href="<!--inLink '../../views/link/infoGlobal.txt'-->">

<!--本页主体css-->
<link rel="stylesheet" href="<!--inLink '../../views/link/newsInfo.txt'-->">

<!--include "../../views/head/head-fot.html"-->

<!--头部-->
<!--include "../../views/header.html"-->

<!--导航-->
<!--include "../../views/nav/index-nav.html"-->

<!--移动端搜索-->
<!--include "../../views/search-sj.html"-->

<!--主体-->
<section>
    <div class="container">
        <div class="infoGlobal row">
            <!--新闻详情-->
            <div class="infoGlobal-left floatLeft">
                <!--面包屑导航-->
                <div class="crumbsNav">
                    您所在位置：
                    <a href="javascript:">信用新闻 ></a>
                    <a href="javascript:">国内新闻 ></a>
                    <span>新闻详情</span>
                </div>
                <!--新闻详情-->
                <div class="newsInfo">
                    <div class="newsInfo-top">
                        <p class="title">萍乡的一个新闻，建立完善体系</p>
                        <div class="fot row">
                            <span>发布时间：2017/12/07</span>|
                            <span>来源：中国信用</span>|
                            <span>专栏：<span class="col">组织架构</span></span>
                            <div class="floatRight row">
                                <span class="floatLeft">分享到</span>
                                <div class="bshare-custom icon-medium floatLeft">
                                    <a title="分享到微信" class="bshare-weixin" href="javascript:void(0);"></a>
                                    <a title="分享到新浪微博" class="bshare-sinaminiblog" href="javascript:void(0);"></a>
                                    <a title="分享到i贴吧" class="bshare-itieba" href="javascript:void(0);"></a>
                                    <a title="分享到人人网" class="bshare-renren" href="javascript:void(0);"></a>
                                </div>
                                <script type="text/javascript" charset="utf-8"
                                        src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
                                <script type="text/javascript" charset="utf-8"
                                        src="http://static.bshare.cn/b/bshareC0.js"></script>
                            </div>
                        </div>
                    </div>
                    <div class="newsInfo-sec">
                        <p>12月8日早6时，南关交警大队黄国富大队长带领车宣科两名同志，来到市政府礼堂，对百余名公务车辆驾驶员开展冬季安全教育培训。</p>
                        <p>
                            此次培训，是配合政府机关公务车辆改革工作的一项重要的安全教育活动，政府部门高度重视，提前运作，精细安排，并召集来自市政府、市委、市人大、市政协的百余名驾驶员参加学习。南关交警大队也认真布置教育培训人员，充分准备课件材料，并根据公务车辆驾驶员工作特点，积极落实大服务工作理念，选择在早上6点-7点这一接班前的空余时段，并由黄国富大队长亲自带队开展培训教育工作。</p>
                        <p></p>
                        <div class="widt_ad"><img class="scrollLoading" width="640" height="480"
                                                  src="//09.imgmini.eastday.com/mobile/20171212/20171212125356_8a4988af33784aba100454d3aee98405_1.jpeg">
                        </div>
                        <p></p>
                        <p>
                            培训教育共进行了三项内容，首先，结合1-10月份全国范围内查处的涉嫌危险驾驶罪的10起典型案例进行讲解剖析，教育公务车驾驶员们要珍惜工作岗位，严守交通法律法规，增强对法律的敬畏心理，不踩违法高压线，本着对自己、对家人、对社会高度负责的态度，严格杜绝醉酒驾车、追逐竞驶、严重超员超速等可能受到刑事处罚的交通违法行为的发生。随后，民警结合冬季交通的特点，有针对性地讲解了冬季恶劣气候条件下如何进行安全操作，避免事故发生的相关注意事项，包括出车前的安全检查，保证车况外观良好、车辆各项安全技术设备齐全，冬季行车要防止起步急速过猛，在冰雪气候条件下加强观察，避免盲目行车，要保持精力集中，防止车速过快，行驶时和前车避免车距过小，合理选择超车、会车时机，礼让通行等方面的都作了详尽的讲解和提示。最后，民警又以动图的形式，列举日常发生道路交通事故可能出现的多种形态，详细讲解了某种形态交通事故的发生是因为驾驶员违反了哪条相关法律规定，并且应当承担何种交通事故责任，并提示驾驶员一旦出现道路交通事故，比照动图形式事故责任明确的情况下一定要及时取证并
                            及时拆除事故现场，以避免因事故导致的交通拥堵或者二次事故的发生。</p>
                        <p></p>
                        <div class="widt_ad"><img class="scrollLoading" width="640" height="480"
                                                  src="//09.imgmini.eastday.com/mobile/20171212/20171212125356_8a4988af33784aba100454d3aee98405_2.jpeg">
                        </div>
                        <p></p>
                        <p>
                            通过民警的细致讲解，市直机关公务车辆驾驶员的交通安全综合素质有了明显的提高，驾驶员们纷纷表示通过这次培训受益匪浅，以后行车过程中一定做到遵章在先、礼让通行、服从管理，做城市文明的表率，此次教育培训工作取得圆满成功。</p>

                        <!--来源、时间-->
                        <div class="time">
                            <span class="icon-earth"> 新华网</span> | <span
                                class="icon-time"> 2017/12/08</span>
                        </div>
                    </div>
                </div>
                <!--附件下载-->
                <div class="downLoad">
                    <p>【附件】附近名称 <a href="javascript:" download="附件一">下载附件</a></p>
                    <p>【附件】附近名称 <a href="javascript:" download="附件一">下载附件</a></p>
                    <p>【附件】附近名称 <a href="javascript:" download="附件一">下载附件</a></p>
                </div>
                <!--相关文章-->
                <div class="related">
                    <div class="list-global-title row">
                        <span class="icon-news">相关文章</span>
                    </div>
                    <ul>
                        <li><a href="javascript:">1. 安徽亳州：狠抓诚信体系机制建设 拓宽信用信息应用渠道 <span>发布时间：2017/12/07</span></a></li>
                        <li><a href="javascript:">2. 安徽亳州：狠抓诚信体系机制建设 拓宽信用信息应用渠道 <span>发布时间：2017/12/07</span></a></li>
                        <li><a href="javascript:">3. 安徽亳州：狠抓诚信体系机制建设 拓宽信用信息应用渠道 <span>发布时间：2017/12/07</span></a></li>
                        <li><a href="javascript:">4. 安徽亳州：狠抓诚信体系机制建设 拓宽信用信息应用渠道 <span>发布时间：2017/12/07</span></a></li>
                        <li><a href="javascript:">5. 安徽亳州：狠抓诚信体系机制建设 拓宽信用信息应用渠道 <span>发布时间：2017/12/07</span></a></li>
                        <li><a href="javascript:">6. 安徽亳州：狠抓诚信体系机制建设 拓宽信用信息应用渠道 <span>发布时间：2017/12/07</span></a></li>
                    </ul>
                </div>
            </div>
            <!--右侧-->
            <!--include "../../views/layouts/infoRight.html"-->
        </div>
    </div>
</section>

<!--PC底部-->
<!--include "../../views/footer.html"-->


<!--本页js-->

<!--include "../../views/foot/foot.html"-->