<!--include "../../views/head/head-top.html"-->

<!--内页公共css-->
<link rel="stylesheet" href="<!--inLink '../../views/link/infoGlobal.txt'-->">

<!--本页主体css-->
<link rel="stylesheet" href="<!--inLink '../../views/link/newsInfo.txt'-->">

<!--include "../../views/head/head-fot.html"-->

<!--头部-->
<!--include "../../views/header.html"-->

<!--导航-->
<!--include "../../views/nav/index-nav.html"-->

<!--移动端搜索-->
<!--include "../../views/search-sj.html"-->

<!--主体-->
<section>
    <div class="container">
        <!--面包屑导航-->
        <div class="crumbsNav">
            您所在位置：
            <a href="javascript:">首页 ></a>
            <span>文章搜索</span>
        </div>
        <div class="infoGlobal row">
            <!--文章搜索列表-->
            <div class="infoGlobal-left floatLeft">
                <div class="news-search">
                    <p class="title">
                        搜索 “发” 为您找到的相关信息 <span>3426</span> 条
                    </p>
                    <!--include "../../views/layouts/infoLeft.html"-->
                    <!--include "../../views/layouts/page.html"-->
                </div>
            </div>
            <!--右侧-->
            <!--include "../../views/layouts/infoRight.html"-->
        </div>
    </div>
</section>

<!--PC底部-->
<!--include "../../views/footer.html"-->


<!--本页js-->

<!--include "../../views/foot/foot.html"-->