<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="https://code.jquery.com/jquery-git.js"></script>
    <!--字体图标-->
    <link rel="stylesheet" href="../../font/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>

</head>


<body style="font-size: 14px;line-height: 1.6;font-family: 'Microsoft YaHei';padding: 0;margin: 0;">
<section style="padding: 30px 0;">
    <!--征信报告-->
    <div class="download" id="renderPdf"
         style="max-width: 1200px;min-width: 600px;min-height: 760px;margin: auto;background: url('https://static.zx.qixinyun.com/pxiang-portal-downloadBj.jpg') repeat;">
        <div class="report-top" style="border: 1px solid #bfbfbf;padding: 34px;padding-top: 0">
            <p class="title" style="font-size: 34px;margin-bottom: 25px;">成都虾米科技有限公司 <span
                    style="display: inline-block;vertical-align: middle;margin-left: 15px;font-size: 14px;border: 1px solid #e22323;padding: 0 12px;">在营</span>
            </p>
            <div class="title-one" style="margin-top: 20px;">
                <span class="icon-jl" style="color: #e22323;font-size: 18px;margin-right: 5px;"></span>统一社会信用代码：915101003430867072
            </div>
            <div class="title-one row" style="margin-top: 20px;">
                <span class="icon-wz" style="color: #e22323;font-size: 18px;margin-right: 5px;"></span>地址：成都高新区(西区)新航路4号

                <div style="float: right;">
                    <span class="icon-fx" style="color: #e22323;font-size: 18px;margin-right: 5px;"></span>
                    报告下载时间：2018年1月22日
                </div>
            </div>
        </div>

        <div class="report-sec" style="padding: 20px;">
            <div class="item">
                <div class="tit" style="border-bottom: 4px solid #e7e7e7;margin-bottom: 10px;">
                    <span class="icon-neww"
                          style="display: inline-block;border-bottom: 4px solid #e22323;font-size: 16px;padding: 5px;position: relative;top: 4px;"> 基本信息</span>
                </div>
                <div class="section" style="padding: 10px 0;">
                    <p class="row"><b style="display: inline-block; width: 140px;">统一社会信用代码：</b> <span style="">KDFKO0206939328</span>
                    </p>
                    <p class="row"><b style="display: inline-block; width: 140px;">法人信息：</b> <span style="">张爱玲</span>
                    </p>
                    <p class="row"><b style="display: inline-block; width: 140px;">成立日期：</b> <span
                            style="">2012/09/20</span></p>
                    <p class="row"><b style="display: inline-block; width: 140px;">企业类型：</b> <span
                            style="">个人独资企业</span></p>
                    <p class="row"><b style="display: inline-block; width: 140px;">登记机关：</b> <span
                            style="">个人独资企业</span></p>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
   //   var pdf = new jsPDF('p');
   //   pdf.internal.scaleFactor = 6;
   //   var options = {
   //      pagesplit: true
   //   };
   //
   //   //$('.pdf-wrapper')
   //   pdf.addHTML(document.body, options, function () {
   //      pdf.save('web1111.pdf');
   //   });

//   var doc = new jsPDF();
//
//   // We'll make our own renderer to skip this editor
//   var specialElementHandlers = {
//      '#editor': function (element, renderer) {
//         return true;
//      }
//   };
//
//   // All units are in the set measurement for the document
//   // This can be changed to "pt" (points), "mm" (Default), "cm", "in"
//   doc.fromHTML($('body').get(0), 15, 15, {
//      'width': 170,
//      'elementHandlers': specialElementHandlers
//   });
</script>

<script type="text/javascript">
   var downPdf = document.getElementById("renderPdf");

   downPdf.onclick = function() {
      html2canvas(document.body, {
         onrendered:function(canvas) {

            var contentWidth = canvas.width;
            var contentHeight = canvas.height;

            //一页pdf显示html页面生成的canvas高度;
            var pageHeight = contentWidth / 592.28 * 841.89;
            //未生成pdf的html页面高度
            var leftHeight = contentHeight;
            //pdf页面偏移
            var position = 0;
            //a4纸的尺寸[595.28,841.89]，html页面生成的canvas在pdf中图片的宽高
            var imgWidth = 595.28;
            var imgHeight = 592.28/contentWidth * contentHeight;

            var pageData = canvas.toDataURL('image/jpeg', 1.0);

            var pdf = new jsPDF('', 'pt', 'a4');

            //有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
            //当内容未超过pdf一页显示的范围，无需分页
            if (leftHeight < pageHeight) {
               pdf.addImage(pageData, 'JPEG', 0, 0, imgWidth, imgHeight );
            } else {
               while(leftHeight > 0) {
                  pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
                  leftHeight -= pageHeight;
                  position -= 841.89;
                  //避免添加空白页
                  if(leftHeight > 0) {
                     pdf.addPage();
                  }
               }
            }

            pdf.save('content.pdf');
         }
      })
   }
</script>
</body>


</html>