<div class="banner">
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li class="banner_li active" data-target="#carousel-example-generic" data-slide-to=""></li>
                <!--<li class="banner_li " data-target="#carousel-example-generic" data-slide-to=""></li>-->
                <!--<li class="banner_li " data-target="#carousel-example-generic" data-slide-to=""></li>-->
            </ul>
            <div class="carousel-inner">
                <div class="item banner-item active">
                    <div class="row">
                        <div class="banner-left floatLeft">
                            <a href="javascript:"><img
                                    src="https://static.zx.qixinyun.com/pxiang-portal-banner.jpg?imageMogr2/auto-orient/thumbnail/x350/blur/1x0/quality/75|imageslim" alt=""></a>
                        </div>
                        <div class="banner-right floatLeft hidden-xs hidden-sm">
                            <a href="javascript:" class="title">证监会拟建市场失信“黑名单”</a>
                            <div class="column row">
                                <span class="column-a floatLeft">专栏</span>
                                <span class="column-b floatLeft">头条新闻</span>
                                <p class="time floatRight icon-earth"><span title="新华网">新华网</span>|2017/12/05</p>
                            </div>
                            <a href="javascript:" class="content">
                                12月2日，证监会新闻发言人高丽披露，证监会将就《证卷期货市场诚信监督管理办法》公开征求意见，未来将建立重大违法失信信息公示的“黑名单”，并对主要市场主体进行诚信积分管理。12月2日，证监会新闻发言人高丽披露，证监会将就《证卷期货市场诚信监督管理办法》公开征求意见，未来将建立重大违法失信信息公示的“黑名单”，并对主要市场主体进行诚信积分管理。12月2日，证监会新闻发言人高丽披露，证监会将就《证卷期货市场诚信监督管理办法》公开征求意见，未来将建立重大违法失信信息公示的“黑名单”，并对主要市场主体进行诚信积分管理。</a>
                            <div class="column-gd">
                                <a href="javascript:">查看详情 >></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="item banner-item">-->
                    <!--<div class="row">-->
                        <!--<div class="banner-left floatLeft">-->
                            <!--<a href="javascript:"><img-->
                                    <!--src="https://static.zx.qixinyun.com/pxiang-portal-banner.jpg" alt=""></a>-->
                        <!--</div>-->
                        <!--<div class="banner-right floatLeft hidden-xs hidden-sm">-->
                            <!--<a href="javascript:" class="title">证监会拟建市场失信“黑名单”</a>-->
                            <!--<div class="column row">-->
                                <!--<span class="column-a floatLeft">专栏</span>-->
                                <!--<span class="column-b floatLeft">头条新闻</span>-->
                                <!--<p class="time floatRight icon-earth">新华网|2017/12/05</p>-->
                            <!--</div>-->
                            <!--<a href="javascript:" class="content">-->
                                <!--12月2日，证监会新闻发言人高丽披露，证监会将就《证卷期货市场诚信监督管理办法》公开征求意见，未来将建立重大违法失信信息公示的“黑名单”，并对主要市场主体进行诚信积分管理。12月2日，证监会新闻发言人高丽披露，证监会将就《证卷期货市场诚信监督管理办法》公开征求意见，未来将建立重大违法失信信息公示的“黑名单”，并对主要市场主体进行诚信积分管理。12月2日，证监会新闻发言人高丽披露，证监会将就《证卷期货市场诚信监督管理办法》公开征求意见，未来将建立重大违法失信信息公示的“黑名单”，并对主要市场主体进行诚信积分管理。</a>-->
                            <!--<div class="column-gd">-->
                                <!--<a href="javascript:">查看详情 >></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="item banner-item">-->
                    <!--<div class="row">-->
                        <!--<div class="banner-left floatLeft">-->
                            <!--<a href="javascript:"><img-->
                                    <!--src="https://static.zx.qixinyun.com/pxiang-portal-banner.jpg" alt=""></a>-->
                        <!--</div>-->
                        <!--<div class="banner-right floatLeft hidden-xs hidden-sm">-->
                            <!--<a href="javascript:" class="title">证监会拟建市场失信“黑名单”</a>-->
                            <!--<div class="column row">-->
                                <!--<span class="column-a floatLeft">专栏</span>-->
                                <!--<span class="column-b floatLeft">头条新闻</span>-->
                                <!--<p class="time floatRight icon-earth">新华网|2017/12/05</p>-->
                            <!--</div>-->
                            <!--<a href="javascript:" class="content">-->
                                <!--12月2日，证监会新闻发言人高丽披露，证监会将就《证卷期货市场诚信监督管理办法》公开征求意见，未来将建立重大违法失信信息公示的“黑名单”，并对主要市场主体进行诚信积分管理。12月2日，证监会新闻发言人高丽披露，证监会将就《证卷期货市场诚信监督管理办法》公开征求意见，未来将建立重大违法失信信息公示的“黑名单”，并对主要市场主体进行诚信积分管理。12月2日，证监会新闻发言人高丽披露，证监会将就《证卷期货市场诚信监督管理办法》公开征求意见，未来将建立重大违法失信信息公示的“黑名单”，并对主要市场主体进行诚信积分管理。</a>-->
                            <!--<div class="column-gd">-->
                                <!--<a href="javascript:">查看详情 >></a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <a class="left btn glyphicon glyphicon-chevron-left" href="#carousel-example-generic" role="button"
               data-slide="prev">
            </a>
            <a class="right btn glyphicon glyphicon-chevron-right" href="#carousel-example-generic" role="button"
               data-slide="next">
            </a>
        </div>
    </div>
</div>