<div class="infoGlobal-right floatRight hidden-sm hidden-xs">
    <!--文章搜索-->
    <div class="new-search">
        <p>文章搜索</p>
        <form action="">
            <div class="row">
                <input type="text" placeholder="请输入关键字">
                <button type="submit" class="icon icon-searchs"></button>
            </div>
        </form>
    </div>
    <!--大家关注-->
    <div class="attention">
        <div class="list-global-title row">
            <span class="icon-news">更新动态</span>
        </div>
        <ul>
            <li>
                <a href="javascript:" title="李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享">
                    <span>头条新闻</span>
                    李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享
                </a>
            </li>
            <li>
                <a href="javascript:"  title="李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享">
                    <span>头条新闻</span>
                    李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享
                </a>
            </li>
            <li>
                <a href="javascript:"  title="李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享">
                    <span>头条新闻</span>
                    李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享
                </a>
            </li>
            <li>
                <a href="javascript:"  title="李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享">
                    <span>头条新闻</span>
                    李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享
                </a>
            </li>
            <li>
                <a href="javascript:" title="李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享">
                    <span>头条新闻</span>
                    李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享
                </a>
            </li>
            <li>
                <a href="javascript:" title="李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享">
                    <span>头条新闻</span>
                    李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享
                </a>
            </li>
            <li>
                <a href="javascript:" title="李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享">
                    <span>头条新闻</span>
                    李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享
                </a>
            </li>
            <li>
                <a href="javascript:" title="李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享">
                    <span>头条新闻</span>
                    李克强主持召开国务院常务会议部署加快推进政务信息系统整合共享
                </a>
            </li>
        </ul>
    </div>
</div>