<ul class="infoGlobal-list">
    <li>
        <a href="javascript:" class="title">《国家发展改革委关于进一步加强垄断行业价格监管的意见》</a>
        <a href="javascript:" class="info">
            为贯彻落实中央财经领导小组会议精神，建立健全垄断行业科学定价方式，合理降低垄断行业价格，推进垄断行业降本增效，促进垄断行业可持续发展、消费者合理负担，国家发展改革委关于进一步加强垄断行业价格监管的意见。
        </a>
        <div class="column row">
            <span class="column-a floatLeft">专栏</span>
            <span class="column-b floatLeft">头条新闻</span>
            <div class="time floatRight">
                <span class="icon-earth"> 新华网</span> | <span
                    class="icon-time"> 2017/12/08</span>
            </div>
        </div>
    </li>
    <li>
        <a href="javascript:" class="title">《国家发展改革委关于进一步加强垄断行业价格监管的意见》</a>
        <a href="javascript:" class="info">
            为贯彻落实中央财经领导小组会议精神，建立健全垄断行业科学定价方式，合理降低垄断行业价格，推进垄断行业降本增效，促进垄断行业可持续发展、消费者合理负担，国家发展改革委关于进一步加强垄断行业价格监管的意见。
        </a>
        <div class="column row">
            <span class="column-a floatLeft">专栏</span>
            <span class="column-b floatLeft">头条新闻</span>
            <div class="time floatRight">
                <span class="icon-earth"> 新华网</span> | <span
                    class="icon-time"> 2017/12/08</span>
            </div>
        </div>
    </li>
    <li>
        <a href="javascript:" class="title">《国家发展改革委关于进一步加强垄断行业价格监管的意见》</a>
        <a href="javascript:" class="info">
            为贯彻落实中央财经领导小组会议精神，建立健全垄断行业科学定价方式，合理降低垄断行业价格，推进垄断行业降本增效，促进垄断行业可持续发展、消费者合理负担，国家发展改革委关于进一步加强垄断行业价格监管的意见。
        </a>
        <div class="column row">
            <span class="column-a floatLeft">专栏</span>
            <span class="column-b floatLeft">头条新闻</span>
            <div class="time floatRight">
                <span class="icon-earth"> 新华网</span> | <span
                    class="icon-time"> 2017/12/08</span>
            </div>
        </div>
    </li>
    <li>
        <a href="javascript:" class="title">《国家发展改革委关于进一步加强垄断行业价格监管的意见》</a>
        <a href="javascript:" class="info">
            为贯彻落实中央财经领导小组会议精神，建立健全垄断行业科学定价方式，合理降低垄断行业价格，推进垄断行业降本增效，促进垄断行业可持续发展、消费者合理负担，国家发展改革委关于进一步加强垄断行业价格监管的意见。
        </a>
        <div class="column row">
            <span class="column-a floatLeft">专栏</span>
            <span class="column-b floatLeft">头条新闻</span>
            <div class="time floatRight">
                <span class="icon-earth"> 新华网</span> | <span
                    class="icon-time"> 2017/12/08</span>
            </div>
        </div>
    </li>
    <li>
        <a href="javascript:" class="title">《国家发展改革委关于进一步加强垄断行业价格监管的意见》</a>
        <a href="javascript:" class="info">
            为贯彻落实中央财经领导小组会议精神，建立健全垄断行业科学定价方式，合理降低垄断行业价格，推进垄断行业降本增效，促进垄断行业可持续发展、消费者合理负担，国家发展改革委关于进一步加强垄断行业价格监管的意见。
        </a>
        <div class="column row">
            <span class="column-a floatLeft">专栏</span>
            <span class="column-b floatLeft">头条新闻</span>
            <div class="time floatRight">
                <span class="icon-earth"> 新华网</span> | <span
                    class="icon-time"> 2017/12/08</span>
            </div>
        </div>
    </li>
    <li>
        <a href="javascript:" class="title">《国家发展改革委关于进一步加强垄断行业价格监管的意见》</a>
        <a href="javascript:" class="info">
            为贯彻落实中央财经领导小组会议精神，建立健全垄断行业科学定价方式，合理降低垄断行业价格，推进垄断行业降本增效，促进垄断行业可持续发展、消费者合理负担，国家发展改革委关于进一步加强垄断行业价格监管的意见。
        </a>
        <div class="column row">
            <span class="column-a floatLeft">专栏</span>
            <span class="column-b floatLeft">头条新闻</span>
            <div class="time floatRight">
                <span class="icon-earth"> 新华网</span> | <span
                    class="icon-time"> 2017/12/08</span>
            </div>
        </div>
    </li>
</ul>