<ul class="list-global times">
    <li>
        <a href="javascript:">
            江西省开展涉金融领域失信问题专项治理 黑名单包
            <span class="time">2017/12/02</span>
        </a>
    </li>
    <li>
        <a href="javascript:">
            江苏泰州：土地开发利用失信将受惩戒
            <span class="time">2017/12/02</span>
        </a>
    </li>
    <li>
        <a href="javascript:">
            萍乡：293名青年入围 守信联合激励红名单
            <span class="time">2017/12/02</span>
        </a>
    </li>
    <li>
        <a href="javascript:">
            萍乡：企业严重失信纳入“黑名单”
            <span class="time">2017/12/02</span>
        </a>
    </li>
    <li>
        <a href="javascript:">
            萍乡：多措并举解决打车难:提升信息系统 设
            <span class="time">2017/12/02</span>
        </a>
    </li>
    <li>
        <a href="javascript:">
            证监会拟建市场失信“黑名单”
            <span class="time">2017/12/02</span>
        </a>
    </li>
    <li>
        <a href="javascript:">
            江苏泰州：土地开发利用失信将受惩戒
            <span class="time">2017/12/02</span>
        </a>
    </li>
</ul>