<div class="media">
    <div class="media-left">
        <a href="javascript:">
            <img src="https://static.zx.qixinyun.com/pxiang-portal-banner.jpg?imageMogr2/auto-orient/thumbnail/x109/blur/1x0/quality/75|imageslim" alt="">
        </a>
    </div>
    <div class="media-body">
        <a href="javascript:">
            <p class="title">黄卫平：诚信是金</p>
            <p class="content">
                中国人民大学经济学院黄卫平教授从转轨国家的历史及建立市场诚信面临的困难入手，对现在社会诚信缺乏的现象进行了探讨。人们不能指望着社会没有信用，而市场</p>
        </a>
    </div>
</div>