<!--轮播-->
<div class="research">
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li class="banner_li active" data-target="#carousel-example-generic" data-slide-to=""></li>
                <li class="banner_li " data-target="#carousel-example-generic" data-slide-to=""></li>
                <li class="banner_li " data-target="#carousel-example-generic" data-slide-to=""></li>
            </ul>
            <div class="carousel-inner">
                <div class="item banner-item active">
                    <a href="javascript:">
                        <img src="https://static.zx.qixinyun.com/pxaing-portal-research-01.png" alt="">
                        <p>信用助力分享经济发展研究报告</p>
                    </a>
                </div>
                <div class="item banner-item">
                    <a href="javascript:">
                        <img src="https://static.zx.qixinyun.com/pxaing-portal-research-01.png" alt="">
                        <p>信用助力分享经济发展研究报告</p>
                    </a>
                </div>
                <div class="item banner-item">
                    <a href="javascript:">
                        <img src="https://static.zx.qixinyun.com/pxaing-portal-research-01.png" alt="">
                        <p>信用助力分享经济发展研究报告</p>
                    </a>
                </div>
            </div>

            <a class="left btn glyphicon glyphicon-chevron-left" href="#carousel-example-generic" role="button"
               data-slide="prev">
            </a>
            <a class="right btn glyphicon glyphicon-chevron-right" href="#carousel-example-generic"
               role="button"
               data-slide="next">
            </a>
        </div>
    </div>
</div>