<div class="search visible-xs">
    <ul class="row tab-title">
        <li class="floatLeft tab-click-li active">信用信息</li>
        <li class="floatLeft tab-click-li">统一社会信用代码</li>
        <li class="floatLeft tab-click-li">贷款产品</li>
    </ul>
    <div class="tab-sec">
        <!-- 信用信息 -->
        <form action="" class="tab-click-sec active">
            <div class="search-input row">
                <input type="text" class="text" placeholder="请输入企业/法人名称 工商注册号 组织机构代码等">
                <button type="submit" class="icon icon-search"></button>
            </div>
        </form>
        <!-- 统一社会信用代码 -->
        <form action="" class="tab-click-sec">
            <div class="search-input row">
                <input type="text" class="text" placeholder="请输入企业/法人名称 工商注册号 组织机构代码等">
                <button type="submit" class="icon icon-search"></button>
            </div>
        </form>
        <!-- 贷款产品 -->
        <form action="" class="tab-click-sec">
            <div class="search-input row">
                <input type="text" class="text" placeholder="请输入企业/法人名称 工商注册号 组织机构代码等">
                <button type="submit" class="icon icon-search"></button>
            </div>
        </form>
    </div>
</div>