<div id="targetedBanner" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li class="car_li active" data-target="#targetedBanner" data-slide-to=""></li>
        <li class="car_li " data-target="#targetedBanner" data-slide-to=""></li>
        <li class="car_li " data-target="#targetedBanner" data-slide-to=""></li>
    </ul>
    <div class="carousel-inner">
        <div class="item active">
            <a class="a_img" href="javascript:"
               style="display: block;height: 284px;background: url('https://img.sandbox.qixinyun.com/yc-qt-banner-01.jpg') no-repeat center; background-size: cover"></a>
        </div>
        <div class="item">
            <a class="a_img" href="javascript:"
               style="display: block;height: 284px;background: url('https://img.sandbox.qixinyun.com/yc-qt-banner-01.jpg') no-repeat center; background-size: cover"></a>
        </div>
        <div class="item">
            <a class="a_img" href="javascript:"
               style="display: block;height: 284px;background: url('https://img.sandbox.qixinyun.com/yc-qt-banner-01.jpg') no-repeat center; background-size: cover"></a>
        </div>
    </div>
</div>