<header class="hidden-xs">
    <div class="head-top">
        <div class="container">
            <div class="row">
                <span>宜昌市中小微企业与农村信用信息共享平台</span>
                <a href="javascript:" class="floatRight">网站声明</a>
                <a href="javascript:" class="floatRight">意见建议</a>
                <ul class="floatRight row">
                    <li class="floatLeft"><a href="javascript:">登录 <span>|</span></a></li>
                    <li class="floatLeft"><a href="javascript:">注册</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="head-sec">
        <div class="container">
            <div class="row">
                <a href="javascript:" class="logo floatLeft"><img src="https://img.sandbox.qixinyun.com/yc-qt-logo.png" alt=""></a>
                <div class="search floatRight">
                    <ul class="row tab-title">
                        <li class="floatLeft tab-click-li active">信用信息</li>
                        <li class="floatLeft tab-click-li">统一社会信用代码</li>
                        <li class="floatLeft tab-click-li">贷款产品</li>
                    </ul>
                    <div class="tab-sec">
                        <!-- 信用信息 -->
                        <form action="" class="tab-click-sec active">
                            <div class="search-input row">
                                <input type="text" class="text" placeholder="请输入企业/法人名称 工商注册号 组织机构代码等">
                                <button type="submit" class="icon icon-search"></button>
                            </div>
                        </form>
                        <!-- 统一社会信用代码 -->
                        <form action="" class="tab-click-sec">
                            <div class="search-input row">
                                <input type="text" class="text" placeholder="请输入企业/法人名称 工商注册号 组织机构代码等">
                                <button type="submit" class="icon icon-search"></button>
                            </div>
                        </form>
                        <!-- 贷款产品 -->
                        <form action="" class="tab-click-sec">
                            <div class="search-input row">
                                <input type="text" class="text" placeholder="请输入企业/法人名称 工商注册号 组织机构代码等">
                                <button type="submit" class="icon icon-search"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!--手机头部-->
<header class="visible-xs">
    <div class="container">
        <div class="row">
            <a href="javascript:" class="logo floatLeft"><img src="https://img.sandbox.qixinyun.com/yc-qt-logo.png" alt=""></a>
            <ul class="floatRight row">
                <li class="floatLeft"><a href="javascript:">登录 <span>|</span></a></li>
                <li class="floatLeft"><a href="javascript:">注册</a></li>
            </ul>
        </div>
    </div>
</header>