<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache,must-revalidate">
    <meta http-equiv="Expires" content="0">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>宜昌市</title>
    <!--字体图标-->
    <link rel="stylesheet" href="//at.alicdn.com/t/font_598175_0aus1765h3lu.css">
    <!--裁剪-->
    <link rel="stylesheet" href="../../js/plugin/cropper/cropper.min.css">
    <!--样式表-->
    <link type="text/css" href="//g.alicdn.com/sd/ncpc/nc.css?t=1514860040708" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/layer/3.1.0/theme/default/layer.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--全局样式-->
    <link rel="stylesheet" href="<!--inLink '../../views/link/css.txt'-->/yc-portal-global.css">